In [2]:
# data cleaning
import numpy as np
import pandas as pd

# feature engineering
from sklearn.feature_selection import mutual_info_regression
from sklearn.cluster import KMeans

# model
from xgboost import XGBRegressor

# error score
from sklearn.model_selection import cross_val_score

# data visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# load data
data = pd.read_csv(r'train.csv', index_col='Id')
data_test = pd.read_csv(r'test.csv', index_col='Id')

In [4]:
data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
data_test.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

### Missing Values - Train Data

In [6]:
# missing data
total_missing = data.isnull().sum().sort_values(ascending=False)
percent_missing = (data.isnull().sum() / data.isnull().count())*100
missing_data = pd.concat([total_missing, percent_missing], axis=1,
                         keys=['Total', 'Percent'])
missing_data.head(20)

              Total    Percent
PoolQC         1453  99.520548
MiscFeature    1406  96.301370
Alley          1369  93.767123
Fence          1179  80.753425
FireplaceQu     690  47.260274
LotFrontage     259  17.739726
GarageYrBlt      81   5.547945
GarageCond       81   5.547945
GarageType       81   5.547945
GarageFinish     81   5.547945
GarageQual       81   5.547945
BsmtExposure     38   2.602740
BsmtFinType2     38   2.602740
BsmtCond         37   2.534247
BsmtQual         37   2.534247
BsmtFinType1     37   2.534247
MasVnrArea        8   0.547945
MasVnrType        8   0.547945
Electrical        1   0.068493
MSSubClass        0   0.000000

#### Droping data columns with 15% missing value

In [7]:
data = data.drop(['PoolQC', 'MiscFeature', 'Alley', 
                  'Fence', 'FireplaceQu', 'LotFrontage'], 
                 axis=1)
data.shape

(1460, 74)

We going to write a function To find missing values in each columns

In [8]:
# missing values - function
def missing_values(data, n):
    total_missing = data.isnull().sum().sort_values(ascending=False)
    percent_missing = (data.isnull().sum() / data.isnull().count())*100
    missing_data = pd.concat([total_missing, percent_missing], axis=1,
                            keys=['Total', 'Percent'])
    return missing_data.head(n)

In [9]:
# missing data
missing_values(data, 14)

              Total   Percent
GarageType       81  5.547945
GarageYrBlt      81  5.547945
GarageFinish     81  5.547945
GarageQual       81  5.547945
GarageCond       81  5.547945
BsmtFinType2     38  2.602740
BsmtExposure     38  2.602740
BsmtQual         37  2.534247
BsmtCond         37  2.534247
BsmtFinType1     37  2.534247
MasVnrArea        8  0.547945
MasVnrType        8  0.547945
Electrical        1  0.068493
KitchenAbvGr      0  0.000000

#### Column - GarageType
NA - No Garage

so we can replace NA with No Garage

In [10]:
data.GarageType.unique()

array(['Attchd', 'Detchd', 'BuiltIn', 'CarPort', nan, 'Basment', '2Types'],
      dtype=object)

In [11]:
data.GarageType = data.GarageType.fillna('No Garage')
missing_values(data, 13)

              Total   Percent
GarageYrBlt      81  5.547945
GarageFinish     81  5.547945
GarageQual       81  5.547945
GarageCond       81  5.547945
BsmtExposure     38  2.602740
BsmtFinType2     38  2.602740
BsmtFinType1     37  2.534247
BsmtQual         37  2.534247
BsmtCond         37  2.534247
MasVnrArea        8  0.547945
MasVnrType        8  0.547945
Electrical        1  0.068493
KitchenAbvGr      0  0.000000

#### Column - GarageYrBlt

In [12]:
data.GarageYrBlt.unique()

array([2003., 1976., 2001., 1998., 2000., 1993., 2004., 1973., 1931.,
       1939., 1965., 2005., 1962., 2006., 1960., 1991., 1970., 1967.,
       1958., 1930., 2002., 1968., 2007., 2008., 1957., 1920., 1966.,
       1959., 1995., 1954., 1953.,   nan, 1983., 1977., 1997., 1985.,
       1963., 1981., 1964., 1999., 1935., 1990., 1945., 1987., 1989.,
       1915., 1956., 1948., 1974., 2009., 1950., 1961., 1921., 1900.,
       1979., 1951., 1969., 1936., 1975., 1971., 1923., 1984., 1926.,
       1955., 1986., 1988., 1916., 1932., 1972., 1918., 1980., 1924.,
       1996., 1940., 1949., 1994., 1910., 1978., 1982., 1992., 1925.,
       1941., 2010., 1927., 1947., 1937., 1942., 1938., 1952., 1928.,
       1922., 1934., 1906., 1914., 1946., 1908., 1929., 1933.])

In [13]:
# finding index of missing values
idx = data[data['GarageYrBlt'].isnull()].index.tolist()
data.iloc[idx].head(6)

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
41,20,RL,8658,Pave,Reg,Lvl,AllPub,Inside,Gtl,NAmes,...,0,0,0,0,0,12,2006,WD,Abnorml,160000
50,20,RL,7742,Pave,Reg,Lvl,AllPub,Inside,Gtl,Sawyer,...,0,0,0,0,0,1,2007,WD,Normal,127000
80,50,RM,10440,Pave,Reg,Lvl,AllPub,Corner,Gtl,OldTown,...,128,0,0,0,0,5,2009,WD,Normal,110000
90,20,RL,8070,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,8,2007,WD,Normal,123600
91,20,RL,7200,Pave,Reg,Lvl,AllPub,Inside,Gtl,NAmes,...,0,0,0,0,0,7,2006,WD,Normal,109900
101,20,RL,10603,Pave,IR1,Lvl,AllPub,Inside,Gtl,NWAmes,...,0,0,0,0,0,2,2010,WD,Normal,205000

Filling missing values in GarageYrBlt column

In [14]:
data.GarageYrBlt = data.GarageYrBlt.fillna(method='bfill',
                                           axis=0)
missing_values(data, 12)

              Total   Percent
GarageFinish     81  5.547945
GarageQual       81  5.547945
GarageCond       81  5.547945
BsmtFinType2     38  2.602740
BsmtExposure     38  2.602740
BsmtFinType1     37  2.534247
BsmtQual         37  2.534247
BsmtCond         37  2.534247
MasVnrType        8  0.547945
MasVnrArea        8  0.547945
Electrical        1  0.068493
KitchenAbvGr      0  0.000000

#### Column - GarageFinish
NA - No Garage

so we can replace NA with No Garage

In [15]:
data.GarageFinish.unique()

array(['RFn', 'Unf', 'Fin', nan], dtype=object)

In [16]:
data.GarageFinish = data.GarageFinish.fillna('No Garage')
missing_values(data, 11)

              Total   Percent
GarageQual       81  5.547945
GarageCond       81  5.547945
BsmtFinType2     38  2.602740
BsmtExposure     38  2.602740
BsmtCond         37  2.534247
BsmtQual         37  2.534247
BsmtFinType1     37  2.534247
MasVnrArea        8  0.547945
MasVnrType        8  0.547945
Electrical        1  0.068493
Functional        0  0.000000

#### Column - GarageQual
NA - No Garage

so we can replace NA with No Garage

In [17]:
data.GarageQual.unique()

array(['TA', 'Fa', 'Gd', nan, 'Ex', 'Po'], dtype=object)

In [18]:
data.GarageQual = data.GarageQual.fillna('No Garage')
missing_values(data, 10)

              Total   Percent
GarageCond       81  5.547945
BsmtExposure     38  2.602740
BsmtFinType2     38  2.602740
BsmtQual         37  2.534247
BsmtCond         37  2.534247
BsmtFinType1     37  2.534247
MasVnrType        8  0.547945
MasVnrArea        8  0.547945
Electrical        1  0.068493
Functional        0  0.000000

#### Column - GarageCond
NA - No Garage

so we can replace NA with No Garage

In [19]:
data.GarageCond = data.GarageCond.fillna('No Garage')
missing_values(data, 9)

              Total   Percent
BsmtFinType2     38  2.602740
BsmtExposure     38  2.602740
BsmtFinType1     37  2.534247
BsmtQual         37  2.534247
BsmtCond         37  2.534247
MasVnrType        8  0.547945
MasVnrArea        8  0.547945
Electrical        1  0.068493
Functional        0  0.000000

#### Column - BsmtFinType2
NA - No Basement

so we can replace NA with No Basement

In [20]:
data.BsmtFinType2.unique()

array(['Unf', 'BLQ', nan, 'ALQ', 'Rec', 'LwQ', 'GLQ'], dtype=object)

In [21]:
data.BsmtFinType2 = data.BsmtFinType2.fillna('No Basement')
missing_values(data, 8)

              Total   Percent
BsmtExposure     38  2.602740
BsmtFinType1     37  2.534247
BsmtQual         37  2.534247
BsmtCond         37  2.534247
MasVnrType        8  0.547945
MasVnrArea        8  0.547945
Electrical        1  0.068493
HalfBath          0  0.000000

#### Column - BsmtExposure
NA - No Basement

so we can replace NA with No Basement

In [22]:
data.BsmtExposure.unique()

array(['No', 'Gd', 'Mn', 'Av', nan], dtype=object)

In [23]:
data.BsmtExposure = data.BsmtExposure.fillna('No Basement')
missing_values(data, 7)

              Total   Percent
BsmtFinType1     37  2.534247
BsmtCond         37  2.534247
BsmtQual         37  2.534247
MasVnrType        8  0.547945
MasVnrArea        8  0.547945
Electrical        1  0.068493
BsmtHalfBath      0  0.000000

#### Column - BsmtFinType1
NA - No Basement

so we can replace NA with No Basement

In [24]:
data.BsmtFinType1.unique()

array(['GLQ', 'ALQ', 'Unf', 'Rec', 'BLQ', nan, 'LwQ'], dtype=object)

In [25]:
data.BsmtFinType1 = data.BsmtFinType1.fillna('No Basement')
missing_values(data, 6)

            Total   Percent
BsmtQual       37  2.534247
BsmtCond       37  2.534247
MasVnrType      8  0.547945
MasVnrArea      8  0.547945
Electrical      1  0.068493
GarageType      0  0.000000

#### Column - BsmtQual
NA - No Basement

so we can replace NA with No Basement

In [26]:
data.BsmtQual.unique()

array(['Gd', 'TA', 'Ex', nan, 'Fa'], dtype=object)

In [27]:
data.BsmtQual = data.BsmtQual.fillna('No Basement')
missing_values(data, 5)

            Total   Percent
BsmtCond       37  2.534247
MasVnrType      8  0.547945
MasVnrArea      8  0.547945
Electrical      1  0.068493
MSSubClass      0  0.000000

#### Column - BsmtCond
NA - No Basement

So we can replace NA with No Basement

In [29]:
data.BsmtCond.unique()

array(['TA', 'Gd', nan, 'Fa', 'Po'], dtype=object)

In [30]:
data.BsmtCond = data.BsmtCond.fillna('No Basement')
missing_values(data, 4)

              Total   Percent
MasVnrType        8  0.547945
MasVnrArea        8  0.547945
Electrical        1  0.068493
BedroomAbvGr      0  0.000000

#### Column - MasVnrType
Cinder Block **NOT** found in the data set

So  we assuming that missing values are Cinder Blockes

In [31]:
data.MasVnrType.unique()

array(['BrkFace', 'None', 'Stone', 'BrkCmn', nan], dtype=object)

In [32]:
data.MasVnrType = data.MasVnrType.fillna('CBlock')
missing_values(data, 3)

             Total   Percent
MasVnrArea       8  0.547945
Electrical       1  0.068493
GarageYrBlt      0  0.000000

#### Column - MasVnrArea
missing values filling by using **back-fill** method

In [33]:
data.MasVnrArea.unique()

array([1.960e+02, 0.000e+00, 1.620e+02, 3.500e+02, 1.860e+02, 2.400e+02,
       2.860e+02, 3.060e+02, 2.120e+02, 1.800e+02, 3.800e+02, 2.810e+02,
       6.400e+02, 2.000e+02, 2.460e+02, 1.320e+02, 6.500e+02, 1.010e+02,
       4.120e+02, 2.720e+02, 4.560e+02, 1.031e+03, 1.780e+02, 5.730e+02,
       3.440e+02, 2.870e+02, 1.670e+02, 1.115e+03, 4.000e+01, 1.040e+02,
       5.760e+02, 4.430e+02, 4.680e+02, 6.600e+01, 2.200e+01, 2.840e+02,
       7.600e+01, 2.030e+02, 6.800e+01, 1.830e+02, 4.800e+01, 2.800e+01,
       3.360e+02, 6.000e+02, 7.680e+02, 4.800e+02, 2.200e+02, 1.840e+02,
       1.129e+03, 1.160e+02, 1.350e+02, 2.660e+02, 8.500e+01, 3.090e+02,
       1.360e+02, 2.880e+02, 7.000e+01, 3.200e+02, 5.000e+01, 1.200e+02,
       4.360e+02, 2.520e+02, 8.400e+01, 6.640e+02, 2.260e+02, 3.000e+02,
       6.530e+02, 1.120e+02, 4.910e+02, 2.680e+02, 7.480e+02, 9.800e+01,
       2.750e+02, 1.380e+02, 2.050e+02, 2.620e+02, 1.280e+02, 2.600e+02,
       1.530e+02, 6.400e+01, 3.120e+02, 1.600e+01, 9.220e+02, 1.420e+02,
       2.900e+02, 1.270e+02, 5.060e+02, 2.970e+02,       nan, 6.040e+02,
       2.540e+02, 3.600e+01, 1.020e+02, 4.720e+02, 4.810e+02, 1.080e+02,
       3.020e+02, 1.720e+02, 3.990e+02, 2.700e+02, 4.600e+01, 2.100e+02,
       1.740e+02, 3.480e+02, 3.150e+02, 2.990e+02, 3.400e+02, 1.660e+02,
       7.200e+01, 3.100e+01, 3.400e+01, 2.380e+02, 1.600e+03, 3.650e+02,
       5.600e+01, 1.500e+02, 2.780e+02, 2.560e+02, 2.250e+02, 3.700e+02,
       3.880e+02, 1.750e+02, 2.960e+02, 1.460e+02, 1.130e+02, 1.760e+02,
       6.160e+02, 3.000e+01, 1.060e+02, 8.700e+02, 3.620e+02, 5.300e+02,
       5.000e+02, 5.100e+02, 2.470e+02, 3.050e+02, 2.550e+02, 1.250e+02,
       1.000e+02, 4.320e+02, 1.260e+02, 4.730e+02, 7.400e+01, 1.450e+02,
       2.320e+02, 3.760e+02, 4.200e+01, 1.610e+02, 1.100e+02, 1.800e+01,
       2.240e+02, 2.480e+02, 8.000e+01, 3.040e+02, 2.150e+02, 7.720e+02,
       4.350e+02, 3.780e+02, 5.620e+02, 1.680e+02, 8.900e+01, 2.850e+02,
       3.600e+02, 9.400e+01, 3.330e+02, 9.210e+02, 7.620e+02, 5.940e+02,
       2.190e+02, 1.880e+02, 4.790e+02, 5.840e+02, 1.820e+02, 2.500e+02,
       2.920e+02, 2.450e+02, 2.070e+02, 8.200e+01, 9.700e+01, 3.350e+02,
       2.080e+02, 4.200e+02, 1.700e+02, 4.590e+02, 2.800e+02, 9.900e+01,
       1.920e+02, 2.040e+02, 2.330e+02, 1.560e+02, 4.520e+02, 5.130e+02,
       2.610e+02, 1.640e+02, 2.590e+02, 2.090e+02, 2.630e+02, 2.160e+02,
       3.510e+02, 6.600e+02, 3.810e+02, 5.400e+01, 5.280e+02, 2.580e+02,
       4.640e+02, 5.700e+01, 1.470e+02, 1.170e+03, 2.930e+02, 6.300e+02,
       4.660e+02, 1.090e+02, 4.100e+01, 1.600e+02, 2.890e+02, 6.510e+02,
       1.690e+02, 9.500e+01, 4.420e+02, 2.020e+02, 3.380e+02, 8.940e+02,
       3.280e+02, 6.730e+02, 6.030e+02, 1.000e+00, 3.750e+02, 9.000e+01,
       3.800e+01, 1.570e+02, 1.100e+01, 1.400e+02, 1.300e+02, 1.480e+02,
       8.600e+02, 4.240e+02, 1.047e+03, 2.430e+02, 8.160e+02, 3.870e+02,
       2.230e+02, 1.580e+02, 1.370e+02, 1.150e+02, 1.890e+02, 2.740e+02,
       1.170e+02, 6.000e+01, 1.220e+02, 9.200e+01, 4.150e+02, 7.600e+02,
       2.700e+01, 7.500e+01, 3.610e+02, 1.050e+02, 3.420e+02, 2.980e+02,
       5.410e+02, 2.360e+02, 1.440e+02, 4.230e+02, 4.400e+01, 1.510e+02,
       9.750e+02, 4.500e+02, 2.300e+02, 5.710e+02, 2.400e+01, 5.300e+01,
       2.060e+02, 1.400e+01, 3.240e+02, 2.950e+02, 3.960e+02, 6.700e+01,
       1.540e+02, 4.250e+02, 4.500e+01, 1.378e+03, 3.370e+02, 1.490e+02,
       1.430e+02, 5.100e+01, 1.710e+02, 2.340e+02, 6.300e+01, 7.660e+02,
       3.200e+01, 8.100e+01, 1.630e+02, 5.540e+02, 2.180e+02, 6.320e+02,
       1.140e+02, 5.670e+02, 3.590e+02, 4.510e+02, 6.210e+02, 7.880e+02,
       8.600e+01, 7.960e+02, 3.910e+02, 2.280e+02, 8.800e+01, 1.650e+02,
       4.280e+02, 4.100e+02, 5.640e+02, 3.680e+02, 3.180e+02, 5.790e+02,
       6.500e+01, 7.050e+02, 4.080e+02, 2.440e+02, 1.230e+02, 3.660e+02,
       7.310e+02, 4.480e+02, 2.940e+02, 3.100e+02, 2.370e+02, 4.260e+02,
       9.600e+01, 4.380e+02, 1.940e+02, 1.190e+02])

In [34]:
data.MasVnrArea = data.MasVnrArea.fillna(method='bfill',
                                         axis=0)
missing_values(data, 2)

            Total   Percent
Electrical      1  0.068493
MSSubClass      0  0.000000

#### Column - Electrical
Missing value filling by using **back-fill** method

In [35]:
data.Electrical.unique()

array(['SBrkr', 'FuseF', 'FuseA', 'FuseP', 'Mix', nan], dtype=object)

In [36]:
data.Electrical = data.Electrical.fillna(method='bfill',
                                        axis=0)
missing_values(data, 2)

             Total  Percent
MSSubClass       0      0.0
GarageYrBlt      0      0.0

### Missing Values - Test Data

In [37]:
missing_values(data_test, 34)

              Total    Percent
PoolQC         1456  99.794380
MiscFeature    1408  96.504455
Alley          1352  92.666210
Fence          1169  80.123372
FireplaceQu     730  50.034270
LotFrontage     227  15.558602
GarageYrBlt      78   5.346127
GarageFinish     78   5.346127
GarageQual       78   5.346127
GarageCond       78   5.346127
GarageType       76   5.209047
BsmtCond         45   3.084304
BsmtExposure     44   3.015764
BsmtQual         44   3.015764
BsmtFinType2     42   2.878684
BsmtFinType1     42   2.878684
MasVnrType       16   1.096642
MasVnrArea       15   1.028101
MSZoning          4   0.274160
Functional        2   0.137080
BsmtHalfBath      2   0.137080
BsmtFullBath      2   0.137080
Utilities         2   0.137080
KitchenQual       1   0.068540
SaleType          1   0.068540
BsmtFinSF1        1   0.068540
GarageCars        1   0.068540
BsmtUnfSF         1   0.068540
TotalBsmtSF       1   0.068540
Exterior2nd       1   0.068540
Exterior1st       1   0.068540
GarageArea        1   0.068540
BsmtFinSF2        1   0.068540
TotRmsAbvGrd      0   0.000000

##### Droping columns with >15% missing values

In [38]:
data_test = data_test.drop(['PoolQC', 'MiscFeature', 'Alley', 
                  'Fence', 'FireplaceQu', 'LotFrontage'], 
                 axis=1)
data.shape

(1460, 74)

In [39]:
# missing data
missing_values(data_test, 28)

              Total   Percent
GarageQual       78  5.346127
GarageYrBlt      78  5.346127
GarageFinish     78  5.346127
GarageCond       78  5.346127
GarageType       76  5.209047
BsmtCond         45  3.084304
BsmtExposure     44  3.015764
BsmtQual         44  3.015764
BsmtFinType2     42  2.878684
BsmtFinType1     42  2.878684
MasVnrType       16  1.096642
MasVnrArea       15  1.028101
MSZoning          4  0.274160
Functional        2  0.137080
BsmtFullBath      2  0.137080
BsmtHalfBath      2  0.137080
Utilities         2  0.137080
GarageArea        1  0.068540
BsmtFinSF2        1  0.068540
Exterior1st       1  0.068540
Exterior2nd       1  0.068540
KitchenQual       1  0.068540
SaleType          1  0.068540
TotalBsmtSF       1  0.068540
BsmtUnfSF         1  0.068540
GarageCars        1  0.068540
BsmtFinSF1        1  0.068540
FullBath          0  0.000000

#### Column - GarageQual
NA - No Garage

So we can replace NA with No Garage

In [40]:
data_test.GarageQual.unique()

array(['TA', nan, 'Fa', 'Gd', 'Po'], dtype=object)

In [41]:
data_test.GarageQual = data_test.GarageQual.fillna('No Garage')
missing_values(data_test, 27)

              Total   Percent
GarageCond       78  5.346127
GarageYrBlt      78  5.346127
GarageFinish     78  5.346127
GarageType       76  5.209047
BsmtCond         45  3.084304
BsmtExposure     44  3.015764
BsmtQual         44  3.015764
BsmtFinType2     42  2.878684
BsmtFinType1     42  2.878684
MasVnrType       16  1.096642
MasVnrArea       15  1.028101
MSZoning          4  0.274160
Functional        2  0.137080
BsmtFullBath      2  0.137080
BsmtHalfBath      2  0.137080
Utilities         2  0.137080
BsmtFinSF1        1  0.068540
SaleType          1  0.068540
GarageCars        1  0.068540
BsmtUnfSF         1  0.068540
GarageArea        1  0.068540
Exterior1st       1  0.068540
Exterior2nd       1  0.068540
BsmtFinSF2        1  0.068540
KitchenQual       1  0.068540
TotalBsmtSF       1  0.068540
GarageQual        0  0.000000

#### Column - GarageCond
NA - No Garage

So we can replace NA with No Garage

In [42]:
data_test.GarageCond.unique()

array(['TA', nan, 'Fa', 'Gd', 'Po', 'Ex'], dtype=object)

In [43]:
data_test.GarageCond = data_test.GarageCond.fillna('No Garage')
missing_values(data_test, 26)

              Total   Percent
GarageFinish     78  5.346127
GarageYrBlt      78  5.346127
GarageType       76  5.209047
BsmtCond         45  3.084304
BsmtExposure     44  3.015764
BsmtQual         44  3.015764
BsmtFinType2     42  2.878684
BsmtFinType1     42  2.878684
MasVnrType       16  1.096642
MasVnrArea       15  1.028101
MSZoning          4  0.274160
Functional        2  0.137080
BsmtFullBath      2  0.137080
BsmtHalfBath      2  0.137080
Utilities         2  0.137080
BsmtFinSF1        1  0.068540
SaleType          1  0.068540
GarageArea        1  0.068540
GarageCars        1  0.068540
BsmtFinSF2        1  0.068540
BsmtUnfSF         1  0.068540
Exterior1st       1  0.068540
Exterior2nd       1  0.068540
TotalBsmtSF       1  0.068540
KitchenQual       1  0.068540
GarageCond        0  0.000000

#### Column - GarageFinish
NA - No Garage

So we can replace NA with No Garage

In [44]:
data_test.GarageFinish.unique()

array(['Unf', 'Fin', 'RFn', nan], dtype=object)

In [45]:
data_test.GarageFinish = data_test.GarageFinish.fillna('No Garage')
missing_values(data_test, 25)

              Total   Percent
GarageYrBlt      78  5.346127
GarageType       76  5.209047
BsmtCond         45  3.084304
BsmtExposure     44  3.015764
BsmtQual         44  3.015764
BsmtFinType2     42  2.878684
BsmtFinType1     42  2.878684
MasVnrType       16  1.096642
MasVnrArea       15  1.028101
MSZoning          4  0.274160
Functional        2  0.137080
BsmtFullBath      2  0.137080
BsmtHalfBath      2  0.137080
Utilities         2  0.137080
BsmtFinSF1        1  0.068540
BsmtFinSF2        1  0.068540
BsmtUnfSF         1  0.068540
TotalBsmtSF       1  0.068540
SaleType          1  0.068540
KitchenQual       1  0.068540
Exterior2nd       1  0.068540
Exterior1st       1  0.068540
GarageCars        1  0.068540
GarageArea        1  0.068540
KitchenAbvGr      0  0.000000

#### Column - GarageYrBlt
Replace missing values by **back-fill** method

In [46]:
data_test.GarageYrBlt.unique()

array([1961., 1958., 1997., 1998., 1992., 1993., 1990., 1970., 1999.,
       1971., 1975., 2009., 2005., 2003., 2002., 2006., 2004., 1920.,
       1974., 2000., 2010., 1967., 1978., 1966., 1964.,   nan, 1994.,
       1949., 1959., 1956., 1952., 1955., 1989., 1950., 1960., 1963.,
       1900., 1957., 1938., 1948., 1962., 1928., 1930., 1926., 1939.,
       1973., 1942., 1979., 1923., 1915., 1917., 1940., 1910., 1969.,
       1968., 1977., 1945., 1987., 1947., 1954., 1941., 1951., 1896.,
       1976., 2008., 2007., 1965., 2001., 1972., 1984., 1985., 1996.,
       1995., 1980., 1986., 1981., 1982., 1991., 1988., 1953., 1924.,
       1927., 1946., 1934., 1983., 1916., 1918., 1937., 1932., 1935.,
       1925., 1921., 1895., 1922., 2207., 1936., 1943., 1919.])

In [47]:
data_test.GarageYrBlt = data_test.GarageYrBlt.fillna(method='bfill', axis=0)
missing_values(data_test, 24)

              Total   Percent
GarageType       76  5.209047
BsmtCond         45  3.084304
BsmtExposure     44  3.015764
BsmtQual         44  3.015764
BsmtFinType2     42  2.878684
BsmtFinType1     42  2.878684
MasVnrType       16  1.096642
MasVnrArea       15  1.028101
MSZoning          4  0.274160
BsmtFullBath      2  0.137080
Functional        2  0.137080
BsmtHalfBath      2  0.137080
Utilities         2  0.137080
Exterior1st       1  0.068540
BsmtFinSF2        1  0.068540
BsmtUnfSF         1  0.068540
TotalBsmtSF       1  0.068540
SaleType          1  0.068540
KitchenQual       1  0.068540
Exterior2nd       1  0.068540
GarageCars        1  0.068540
GarageArea        1  0.068540
BsmtFinSF1        1  0.068540
KitchenAbvGr      0  0.000000

#### Column - GarageType
NA - No Garage

So we can replace NA with No Garage

In [48]:
data_test.GarageType.unique()

array(['Attchd', 'Detchd', 'BuiltIn', nan, 'Basment', '2Types', 'CarPort'],
      dtype=object)

In [49]:
data_test.GarageType = data_test.GarageType.fillna('No Garage')
missing_values(data_test, 23)

              Total   Percent
BsmtCond         45  3.084304
BsmtExposure     44  3.015764
BsmtQual         44  3.015764
BsmtFinType2     42  2.878684
BsmtFinType1     42  2.878684
MasVnrType       16  1.096642
MasVnrArea       15  1.028101
MSZoning          4  0.274160
BsmtFullBath      2  0.137080
Functional        2  0.137080
BsmtHalfBath      2  0.137080
Utilities         2  0.137080
Exterior1st       1  0.068540
KitchenQual       1  0.068540
BsmtFinSF2        1  0.068540
BsmtUnfSF         1  0.068540
TotalBsmtSF       1  0.068540
SaleType          1  0.068540
Exterior2nd       1  0.068540
BsmtFinSF1        1  0.068540
GarageCars        1  0.068540
GarageArea        1  0.068540
MoSold            0  0.000000

#### Column - BsmtCond
NA - No Basement

So we can replace NA with No Basement

In [50]:
data_test.BsmtCond.unique()

array(['TA', 'Po', 'Fa', 'Gd', nan], dtype=object)

In [51]:
data_test.BsmtCond = data_test.BsmtCond.fillna('No Basement')
missing_values(data_test, 22)

              Total   Percent
BsmtQual         44  3.015764
BsmtExposure     44  3.015764
BsmtFinType2     42  2.878684
BsmtFinType1     42  2.878684
MasVnrType       16  1.096642
MasVnrArea       15  1.028101
MSZoning          4  0.274160
Functional        2  0.137080
BsmtHalfBath      2  0.137080
Utilities         2  0.137080
BsmtFullBath      2  0.137080
BsmtFinSF1        1  0.068540
Exterior1st       1  0.068540
BsmtFinSF2        1  0.068540
BsmtUnfSF         1  0.068540
TotalBsmtSF       1  0.068540
KitchenQual       1  0.068540
Exterior2nd       1  0.068540
GarageCars        1  0.068540
GarageArea        1  0.068540
SaleType          1  0.068540
GarageFinish      0  0.000000

#### Column - BsmtQual
NA - No Basement

So we can replace NA with No Basement

In [52]:
data_test.BsmtQual.unique()

array(['TA', 'Gd', 'Ex', 'Fa', nan], dtype=object)

In [53]:
data_test.BsmtQual = data_test.BsmtQual.fillna('No Basement')
missing_values(data_test, 21)

              Total   Percent
BsmtExposure     44  3.015764
BsmtFinType2     42  2.878684
BsmtFinType1     42  2.878684
MasVnrType       16  1.096642
MasVnrArea       15  1.028101
MSZoning          4  0.274160
Functional        2  0.137080
BsmtFullBath      2  0.137080
Utilities         2  0.137080
BsmtHalfBath      2  0.137080
GarageCars        1  0.068540
BsmtFinSF1        1  0.068540
BsmtFinSF2        1  0.068540
KitchenQual       1  0.068540
BsmtUnfSF         1  0.068540
TotalBsmtSF       1  0.068540
Exterior1st       1  0.068540
Exterior2nd       1  0.068540
GarageArea        1  0.068540
SaleType          1  0.068540
GarageFinish      0  0.000000

#### Column - BsmtExposure
NA - No Basement

So we can replace NA with No Basement

In [54]:
data_test.BsmtExposure.unique()

array(['No', 'Gd', 'Mn', 'Av', nan], dtype=object)

In [55]:
data_test.BsmtExposure = data_test.BsmtExposure.fillna('No Basement')
missing_values(data_test, 20)

               Total   Percent
BsmtFinType2      42  2.878684
BsmtFinType1      42  2.878684
MasVnrType        16  1.096642
MasVnrArea        15  1.028101
MSZoning           4  0.274160
BsmtFullBath       2  0.137080
BsmtHalfBath       2  0.137080
Utilities          2  0.137080
Functional         2  0.137080
GarageCars         1  0.068540
TotalBsmtSF        1  0.068540
BsmtUnfSF          1  0.068540
BsmtFinSF2         1  0.068540
BsmtFinSF1         1  0.068540
KitchenQual        1  0.068540
Exterior1st        1  0.068540
Exterior2nd        1  0.068540
GarageArea         1  0.068540
SaleType           1  0.068540
EnclosedPorch      0  0.000000

#### Column - BsmtFinType2
NA - No Basement

So we can replace NA with No Basement

In [56]:
data_test.BsmtFinType2.unique()

array(['LwQ', 'Unf', 'Rec', 'BLQ', 'GLQ', 'ALQ', nan], dtype=object)

In [57]:
data_test.BsmtFinType2 = data_test.BsmtFinType2.fillna('No Basement')
missing_values(data_test, 19)

              Total   Percent
BsmtFinType1     42  2.878684
MasVnrType       16  1.096642
MasVnrArea       15  1.028101
MSZoning          4  0.274160
BsmtFullBath      2  0.137080
BsmtHalfBath      2  0.137080
Functional        2  0.137080
Utilities         2  0.137080
BsmtFinSF1        1  0.068540
Exterior1st       1  0.068540
KitchenQual       1  0.068540
GarageCars        1  0.068540
GarageArea        1  0.068540
Exterior2nd       1  0.068540
BsmtFinSF2        1  0.068540
BsmtUnfSF         1  0.068540
TotalBsmtSF       1  0.068540
SaleType          1  0.068540
Fireplaces        0  0.000000

#### Column - BsmtFinType1
NA - No Basement

So we can replace NA with No Basement

In [58]:
data_test.BsmtFinType1.unique()

array(['Rec', 'ALQ', 'GLQ', 'Unf', 'BLQ', 'LwQ', nan], dtype=object)

In [59]:
data_test.BsmtFinType1 = data_test.BsmtFinType1.fillna('No Basement')
missing_values(data_test, 18)

              Total   Percent
MasVnrType       16  1.096642
MasVnrArea       15  1.028101
MSZoning          4  0.274160
BsmtFullBath      2  0.137080
BsmtHalfBath      2  0.137080
Utilities         2  0.137080
Functional        2  0.137080
KitchenQual       1  0.068540
Exterior2nd       1  0.068540
GarageCars        1  0.068540
GarageArea        1  0.068540
Exterior1st       1  0.068540
BsmtFinSF2        1  0.068540
BsmtUnfSF         1  0.068540
TotalBsmtSF       1  0.068540
SaleType          1  0.068540
BsmtFinSF1        1  0.068540
GarageType        0  0.000000

#### Column - MasVnrType
Cinder Block NOT found in the data set

So we assuming that missing values are Cinder Blockes

In [60]:
data_test.MasVnrType.unique()

array(['None', 'BrkFace', 'Stone', 'BrkCmn', nan], dtype=object)

In [61]:
data_test.MasVnrType = data_test.MasVnrType.fillna('CBlock')
missing_values(data_test, 17)

              Total   Percent
MasVnrArea       15  1.028101
MSZoning          4  0.274160
Functional        2  0.137080
BsmtFullBath      2  0.137080
BsmtHalfBath      2  0.137080
Utilities         2  0.137080
Exterior1st       1  0.068540
BsmtFinSF2        1  0.068540
KitchenQual       1  0.068540
BsmtFinSF1        1  0.068540
TotalBsmtSF       1  0.068540
BsmtUnfSF         1  0.068540
GarageCars        1  0.068540
Exterior2nd       1  0.068540
SaleType          1  0.068540
GarageArea        1  0.068540
TotRmsAbvGrd      0  0.000000

#### Column - MasVnrArea
Filling missing values with **back-fill** method

In [62]:
data_test.MasVnrArea.unique()

array([0.000e+00, 1.080e+02, 2.000e+01, 5.040e+02, 4.920e+02, 1.620e+02,
       2.560e+02, 6.150e+02, 2.400e+02, 1.095e+03, 2.320e+02, 1.780e+02,
       1.400e+01, 1.140e+02, 2.260e+02, 1.220e+02, 2.500e+02, 1.800e+02,
       1.200e+02, 2.160e+02, 1.159e+03, 1.720e+02, 2.680e+02, 1.440e+02,
       2.650e+02, 3.400e+02, 5.060e+02, 1.500e+02, 9.100e+01, 4.320e+02,
       2.180e+02, 7.710e+02, 3.000e+02, 9.000e+01, 7.200e+01, 4.700e+01,
       2.880e+02, 9.600e+01, 1.770e+02, 8.500e+01, 8.000e+01, 3.200e+02,
       1.700e+02, 2.030e+02, 3.710e+02, 4.300e+02, 4.400e+01, 1.860e+02,
       6.000e+01, 4.400e+02, 1.880e+02, 3.200e+01, 4.500e+01, 1.570e+02,
       1.010e+02, 2.290e+02, 1.610e+02, 1.960e+02, 4.250e+02, 1.650e+02,
       7.260e+02, 4.500e+02, 4.720e+02, 3.020e+02, 2.380e+02, 2.840e+02,
       2.850e+02, 4.180e+02, 7.240e+02, 3.830e+02, 1.350e+02, 1.760e+02,
       7.300e+02, 4.700e+02, 3.080e+02, 5.000e+02, 2.700e+02, 1.630e+02,
       1.600e+01, 2.000e+02,       nan, 2.100e+02, 6.340e+02, 2.860e+02,
       3.720e+02, 2.940e+02, 2.600e+02, 2.060e+02, 1.980e+02, 1.210e+02,
       2.640e+02, 1.400e+02, 1.320e+02, 1.410e+02, 1.150e+02, 2.800e+02,
       2.520e+02, 5.130e+02, 1.280e+02, 2.830e+02, 5.090e+02, 1.600e+02,
       7.000e+01, 2.170e+02, 3.000e+00, 1.640e+02, 6.570e+02, 4.800e+02,
       2.950e+02, 1.430e+02, 8.200e+01, 4.200e+02, 1.240e+02, 4.440e+02,
       2.300e+01, 5.400e+01, 3.660e+02, 1.490e+02, 1.000e+02, 2.420e+02,
       3.640e+02, 3.520e+02, 7.600e+01, 6.800e+01, 4.000e+01, 2.090e+02,
       7.400e+01, 2.590e+02, 8.800e+01, 1.740e+02, 2.460e+02, 4.060e+02,
       3.100e+02, 2.900e+02, 1.820e+02, 1.190e+02, 1.940e+02, 1.300e+02,
       2.960e+02, 1.020e+02, 6.210e+02, 1.680e+02, 4.020e+02, 3.590e+02,
       4.220e+02, 3.560e+02, 5.540e+02, 4.680e+02, 3.680e+02, 1.260e+02,
       6.800e+02, 1.110e+03, 2.210e+02, 7.140e+02, 1.060e+02, 2.400e+01,
       6.470e+02, 1.290e+03, 4.950e+02, 4.660e+02, 1.560e+02, 2.920e+02,
       9.500e+01, 3.800e+01, 1.450e+02, 3.040e+02, 5.680e+02, 1.790e+02,
       4.560e+02, 1.050e+03, 4.100e+02, 1.870e+02, 5.200e+01, 8.400e+01,
       3.600e+02, 1.250e+02, 2.760e+02, 3.900e+01, 2.750e+02, 1.900e+02,
       2.510e+02, 2.270e+02, 1.340e+02, 1.920e+02, 2.050e+02, 5.000e+01,
       2.120e+02, 2.220e+02, 5.800e+01, 6.680e+02, 2.580e+02, 2.280e+02,
       6.740e+02, 1.970e+02, 9.800e+01, 1.380e+02, 1.460e+02, 7.100e+02,
       9.450e+02, 3.060e+02, 6.700e+01, 5.490e+02, 2.530e+02, 5.670e+02,
       3.780e+02, 4.000e+02, 3.650e+02, 9.700e+02, 5.100e+02, 5.020e+02,
       3.940e+02, 2.350e+02, 2.200e+01, 5.150e+02, 3.090e+02, 5.260e+02,
       2.480e+02, 7.540e+02, 1.480e+02, 2.980e+02, 3.530e+02, 2.720e+02,
       3.000e+01, 3.600e+01, 3.420e+02, 6.000e+02, 4.100e+01, 5.250e+02,
       1.120e+02, 5.600e+01, 2.020e+02, 1.360e+02, 8.700e+01, 2.910e+02,
       6.900e+01, 2.890e+02, 5.300e+01, 8.600e+01, 2.790e+02, 1.000e+00,
       2.340e+02, 4.420e+02, 8.900e+01, 3.230e+02, 2.040e+02, 1.130e+02,
       5.100e+01, 2.140e+02, 5.190e+02, 2.540e+02, 1.580e+02, 1.224e+03,
       4.230e+02, 6.520e+02, 4.730e+02, 1.660e+02, 8.860e+02, 9.400e+01,
       1.890e+02, 2.800e+01, 2.440e+02, 9.020e+02, 4.340e+02, 6.620e+02,
       1.840e+02, 7.340e+02, 5.500e+02, 2.300e+02, 5.140e+02, 3.800e+02,
       2.150e+02, 3.850e+02, 1.420e+02, 2.780e+02, 5.180e+02, 5.720e+02,
       2.360e+02, 1.800e+01, 3.220e+02, 8.770e+02, 3.970e+02, 7.380e+02,
       5.010e+02, 1.180e+02, 6.920e+02, 3.320e+02, 6.320e+02, 5.220e+02,
       3.790e+02, 1.040e+02, 3.050e+02, 9.900e+01, 6.500e+01, 1.230e+02,
       1.530e+02, 5.320e+02, 6.200e+01, 1.990e+02, 2.610e+02, 3.550e+02,
       4.050e+02, 3.270e+02, 2.570e+02, 3.820e+02])

In [63]:
data_test.MasVnrArea = data_test.MasVnrArea.fillna(method='bfill',
                                                   axis=0)
missing_values(data_test, 16)

              Total  Percent
MSZoning          4  0.27416
BsmtHalfBath      2  0.13708
Functional        2  0.13708
BsmtFullBath      2  0.13708
Utilities         2  0.13708
Exterior1st       1  0.06854
KitchenQual       1  0.06854
GarageCars        1  0.06854
GarageArea        1  0.06854
BsmtFinSF1        1  0.06854
BsmtFinSF2        1  0.06854
BsmtUnfSF         1  0.06854
TotalBsmtSF       1  0.06854
SaleType          1  0.06854
Exterior2nd       1  0.06854
Fireplaces        0  0.00000

#### Column - MSZoning
Filling missing values with **back-fill** method

In [64]:
data_test.MSZoning.unique()

array(['RH', 'RL', 'RM', 'FV', 'C (all)', nan], dtype=object)

In [65]:
data_test.MSZoning = data_test.MSZoning.fillna(method='bfill',
                                              axis=0)
missing_values(data_test, 15)

              Total  Percent
Functional        2  0.13708
BsmtFullBath      2  0.13708
Utilities         2  0.13708
BsmtHalfBath      2  0.13708
Exterior1st       1  0.06854
BsmtFinSF2        1  0.06854
KitchenQual       1  0.06854
GarageCars        1  0.06854
GarageArea        1  0.06854
BsmtFinSF1        1  0.06854
BsmtUnfSF         1  0.06854
TotalBsmtSF       1  0.06854
SaleType          1  0.06854
Exterior2nd       1  0.06854
Fireplaces        0  0.00000

#### Column - Functional
Salvage only missing from list, so lets assuming that missing values is Salvage only

In [66]:
data_test.Functional.unique()

array(['Typ', 'Min2', 'Min1', 'Mod', 'Maj1', 'Sev', 'Maj2', nan],
      dtype=object)

In [67]:
data_test.Functional = data_test.Functional.fillna('Sal')
missing_values(data_test, 14)

              Total  Percent
BsmtFullBath      2  0.13708
Utilities         2  0.13708
BsmtHalfBath      2  0.13708
Exterior1st       1  0.06854
BsmtFinSF2        1  0.06854
KitchenQual       1  0.06854
GarageCars        1  0.06854
GarageArea        1  0.06854
BsmtFinSF1        1  0.06854
BsmtUnfSF         1  0.06854
TotalBsmtSF       1  0.06854
SaleType          1  0.06854
Exterior2nd       1  0.06854
Fireplaces        0  0.00000

#### Column - BsmtFullBath
Missing values filling by using **back-fill** method

In [68]:
data_test.BsmtFullBath.unique()

array([ 0.,  1.,  2.,  3., nan])

In [69]:
data_test.BsmtFullBath = data_test.BsmtFullBath.fillna(method='bfill',
                                                      axis=0)
missing_values(data_test, 13)

              Total  Percent
BsmtHalfBath      2  0.13708
Utilities         2  0.13708
Exterior1st       1  0.06854
BsmtUnfSF         1  0.06854
KitchenQual       1  0.06854
GarageCars        1  0.06854
GarageArea        1  0.06854
BsmtFinSF2        1  0.06854
BsmtFinSF1        1  0.06854
TotalBsmtSF       1  0.06854
SaleType          1  0.06854
Exterior2nd       1  0.06854
BsmtFullBath      0  0.00000

#### Column - BsmtHalfBath
Missing values filling by using **back-fill** method

In [70]:
data_test.BsmtHalfBath.unique()

array([ 0.,  1., nan,  2.])

In [71]:
data_test.BsmtHalfBath = data_test.BsmtHalfBath.fillna(method='bfill',
                                                      axis=0)
missing_values(data_test, 12)

              Total  Percent
Utilities         2  0.13708
Exterior1st       1  0.06854
BsmtUnfSF         1  0.06854
KitchenQual       1  0.06854
GarageCars        1  0.06854
GarageArea        1  0.06854
BsmtFinSF2        1  0.06854
BsmtFinSF1        1  0.06854
TotalBsmtSF       1  0.06854
SaleType          1  0.06854
Exterior2nd       1  0.06854
BsmtFullBath      0  0.00000

#### Column - Utilities
Missing values filling by using **back-fill** method

In [72]:
data_test.Utilities.unique()

array(['AllPub', nan], dtype=object)

In [73]:
data_test.Utilities = data_test.Utilities.fillna(method='bfill',
                                                axis=0)
missing_values(data_test, 11)

              Total  Percent
Exterior2nd       1  0.06854
SaleType          1  0.06854
Exterior1st       1  0.06854
TotalBsmtSF       1  0.06854
BsmtUnfSF         1  0.06854
BsmtFinSF2        1  0.06854
BsmtFinSF1        1  0.06854
KitchenQual       1  0.06854
GarageCars        1  0.06854
GarageArea        1  0.06854
KitchenAbvGr      0  0.00000

#### Column - Exterior2nd
Other is **NOT** in the list, so we assuming that Other is the missing value

In [74]:
data_test.Exterior2nd.unique()

array(['VinylSd', 'Wd Sdng', 'HdBoard', 'Plywood', 'MetalSd', 'Brk Cmn',
       'CmentBd', 'ImStucc', 'Wd Shng', 'AsbShng', 'Stucco', 'CBlock',
       'BrkFace', 'AsphShn', nan, 'Stone'], dtype=object)

In [75]:
data.Exterior2nd.unique()

array(['VinylSd', 'MetalSd', 'Wd Shng', 'HdBoard', 'Plywood', 'Wd Sdng',
       'CmentBd', 'BrkFace', 'Stucco', 'AsbShng', 'Brk Cmn', 'ImStucc',
       'AsphShn', 'Stone', 'Other', 'CBlock'], dtype=object)

In [76]:
data_test.Exterior2nd = data_test.Exterior2nd.fillna(method='bfill',
                                                    axis=0)
missing_values(data_test, 10)

             Total  Percent
Exterior1st      1  0.06854
SaleType         1  0.06854
KitchenQual      1  0.06854
TotalBsmtSF      1  0.06854
BsmtUnfSF        1  0.06854
BsmtFinSF2       1  0.06854
BsmtFinSF1       1  0.06854
GarageCars       1  0.06854
GarageArea       1  0.06854
HalfBath         0  0.00000

#### Column - Exterior1st
Missing value filling by using **back-fill** method

In [77]:
data_test.Exterior1st.unique()

array(['VinylSd', 'Wd Sdng', 'HdBoard', 'Plywood', 'MetalSd', 'CemntBd',
       'WdShing', 'BrkFace', 'AsbShng', 'BrkComm', 'Stucco', 'AsphShn',
       nan, 'CBlock'], dtype=object)

In [78]:
data_test.Exterior1st = data_test.Exterior1st.fillna(method='bfill',
                                                    axis=0)
missing_values(data_test, 9)

             Total  Percent
SaleType         1  0.06854
KitchenQual      1  0.06854
TotalBsmtSF      1  0.06854
BsmtUnfSF        1  0.06854
BsmtFinSF2       1  0.06854
BsmtFinSF1       1  0.06854
GarageCars       1  0.06854
GarageArea       1  0.06854
MSSubClass       0  0.00000

#### Column - SaleType
Missing value filling by using **back-fill** method

In [79]:
data_test.SaleType.unique()

array(['WD', 'COD', 'New', 'ConLD', 'Oth', 'Con', 'ConLw', 'ConLI', 'CWD',
       nan], dtype=object)

In [80]:
data_test.SaleType = data_test.SaleType.fillna(method='bfill',
                                              axis=0)
missing_values(data_test, 8)

             Total  Percent
TotalBsmtSF      1  0.06854
BsmtUnfSF        1  0.06854
BsmtFinSF2       1  0.06854
KitchenQual      1  0.06854
BsmtFinSF1       1  0.06854
GarageCars       1  0.06854
GarageArea       1  0.06854
MSSubClass       0  0.00000

#### Column - TotalBsmtSF
Missing values filling by using **back-fill** method

In [82]:
data_test.TotalBsmtSF.unique()

array([ 882., 1329.,  928.,  926., 1280.,  763., 1168.,  789., 1300.,
       1405.,  483.,  525.,  855.,  836., 1590., 1544., 1698., 1822.,
       2846., 1671., 1370., 1324., 1145.,  384.,  847., 1629., 1595.,
       1218., 1468.,  831.,  816., 1208., 1231., 1390., 1488.,  840.,
        600.,  756.,  530., 1642.,  975., 1492., 1829., 1224.,  715.,
       1232., 1209., 1510.,  533., 1728., 1140.,  782., 1080., 1604.,
       1480., 1143., 1206., 1244.,  832.,  864.,  972.,  988.,  576.,
       1175., 1395.,  709.,  936., 1347.,  827., 1027., 1008.,  678.,
        930.,  346.,  738., 1108.,  765.,  608.,  572.,  835.,  780.,
        528., 1124.,  888.,  662., 1422.,  689., 1212.,  707.,  856.,
       1832., 1319.,  720., 1420.,  660., 1117.,  663., 1172., 1508.,
       1250., 1433.,  946., 1222.,  676.,  870.,  878., 1026.,  876.,
       1978., 1040.,  848.,    0.,  381., 1196.,  744.,  960., 1107.,
        894., 1528., 1032.,  423.,  982., 1191.,  480.,  629., 1594.,
       1049., 1243., 1958., 1336., 1214., 1068., 1430., 1344.,  945.,
        546.,  833., 1216.,  624., 1679., 1152., 1434., 2208., 1418.,
       1587.,  952., 1181., 1122., 1427., 1043., 1058., 1621., 1116.,
       1176., 1180.,  804., 1057., 1776., 1365., 2020., 2630., 1736.,
       1782., 1739., 1504., 1774., 1760., 2452., 1082., 1598., 1358.,
       1306., 1350., 2492., 2200., 1884., 1451., 1712.,  728.,  745.,
       1220.,  868.,  846.,  698.,  794., 1177., 1455., 2024., 1070.,
       1173., 1696., 1614., 1702., 2458., 1436., 1402., 1530., 1372.,
        900., 1836., 1652., 1553.,  812., 1141., 1158., 1512., 1114.,
       1450.,  913., 1332.,  754.,  980., 1024.,  912., 2014., 1376.,
       1726.,  691., 1694., 1740.,  392.,  752.,  932., 1288.,  908.,
       1568., 1165., 1048., 1313., 1292., 1680., 1453., 1562., 1169.,
       1202., 1382., 1200., 1866., 1062.,  631.,  793., 1031.,  699.,
        792.,  405., 1054.,  560.,  416.,  630., 1248., 1380.,  951.,
       1105.,  160.,  795., 1041.,  732.,  941., 1045.,  901.,  240.,
        504.,  690.,  801.,  768.,  861.,  677.,  917.,  741.,  245.,
       1022.,  297.,  468., 1072.,  672., 1020., 1204.,  858.,  585.,
       1052.,  456.,  552., 1138.,  825., 1073.,  747., 1089.,  520.,
       1079., 1094., 1555., 1720., 1838., 1282., 1254., 1498.,  704.,
       1449.,  990., 1463., 1431.,  907.,  914., 1569.,  944., 1462.,
       1417., 1578., 1014.,  547., 1078., 1678., 1150.,  583., 1273.,
        920., 1112., 1561., 1067., 1310.,  516.,  561., 1803.,  760.,
       1596.,  902.,  957., 1582., 2190., 1641.,  712., 1645., 1188.,
        796.,  828.,  784.,  680.,  916., 1348., 1664., 1337., 1632.,
       1710., 1675., 1260., 2048., 1211., 1444., 1236.,  896., 1055.,
       2418., 1950., 1850., 1620., 1414.,  948., 1148., 2535., 1603.,
       1479., 1765., 1858., 1367., 1800., 1342.,  764., 1415., 1393.,
       1146., 1037., 1519., 1982., 1064., 1242., 1341.,  955., 1460.,
       1363., 1660., 1162.,  886.,  984.,  890., 1001., 1848., 1235.,
       1419., 1557.,  970., 1230.,  994., 1426., 1625., 1118.,  348.,
       1296., 1036., 1104.,  998., 1824.,  892., 1312., 1081., 1256.,
        854.,  192.,  931.,  884.,  481.,  684.,  904.,  407.,  448.,
        797.,  973.,  723.,  869.,  554.,  981.,  949.,  739.,  992.,
        565.,   nan,  989., 1100.,  810., 1272.,  880.,  451.,  536.,
       1046.,  450., 1060., 1524.,  570., 1580., 1509.,  621., 1077.,
       1602.,  628., 1615., 2271., 1751., 1401., 1182., 1076., 1257.,
       1357., 1778., 1129.,  850., 1445., 1564., 1351., 1092., 1127.,
       1029.,  911., 1228.,  644.,  798.,  942., 1091., 1898., 1151.,
        173.,  356.,  592., 1840.,  910., 1277., 1518.,  352., 1495.,
       1432., 1666., 1964., 1189.,  550.,  526.,  462., 1113.,  845.,
        686.,  923.,  938.,  903., 1302., 1166., 1149., 2660., 1612.,
       2220., 1742., 1284.,  725., 1529., 1153., 1259., 1084.,  925.,
       1061., 1790., 2108., 1934., 1994., 2552., 1704., 2320.,  918.,
       1802., 1706., 1317.,  895., 1721., 1298., 1362., 1554., 1577.,
       1326., 1246., 1406., 1266.,  915., 1779., 1408., 1389., 1066.,
       1325., 1369., 1542., 1966., 1538., 1494., 1338., 1335., 1574.,
       1685., 1461., 1223., 1044., 1378., 1511., 1352., 1550., 1339.,
       2002., 2461., 1295., 1093.,  964., 1174., 1042., 1130., 1592.,
        822.,  666.,  370.,  808., 1560., 1053., 1144., 1331.,  922.,
       1190.,  924.,  736., 1170., 1377.,  967., 1075.,  616.,  687.,
        819.,  966.,  750.,  969.,  976.,  771., 1005.,  943., 1240.,
        671.,  409.,  484., 1038.,  779., 1643., 2140., 1546., 1489.,
       1270.,  879.,  929.,  635., 1097.,  853.,  985., 1015.,  995.,
        385., 1673.,  979.,  860., 1556., 1531., 1330., 1088., 1179.,
        734., 5095., 1195., 1290.,  651.,  531.,  851., 1004.,  279.,
        859.,  837., 1573., 1441., 1409., 1454.,  852., 1501., 1689.,
       1265., 1267., 1922., 1491., 1160.,  716., 1396., 1090., 1178.,
       1617., 1705., 1851.,  813.,  781.,  821., 1074., 1700., 2062.,
       1398., 1714., 1910., 1047.,  675., 1103., 1487.,  494., 1069.,
       1738., 1618., 1868., 1606., 1792., 1780., 1686., 1368., 1142.,
       1035., 1540., 1733., 1286., 1670., 1278., 2036., 1400., 1131.,
        891., 1217.,  636., 1748., 1334.,  569., 1051., 1187., 1251.,
       1056., 1584., 1121., 1050.,  216.,  301., 2171.,  713., 1083.,
       1135., 1438., 1025., 1147.,  502.,  844.,  492.,  770., 1226.,
        596.,  396.,  610.,  806., 1921.,  830., 1059., 1967., 1949.,
        872., 1865., 1000.,  430.,  799., 1308., 1570., 1388., 1425.,
        842.,  826., 1065.,  954.,  498.,  755.,  818.,  824.,  817.,
        637.,  697.,  432.,  641., 1128., 1381.,  264.,  996.])

In [83]:
data_test.TotalBsmtSF = data_test.TotalBsmtSF.fillna(method='bfill',
                                                    axis=0)
missing_values(data_test, 7)

             Total  Percent
KitchenQual      1  0.06854
BsmtUnfSF        1  0.06854
BsmtFinSF2       1  0.06854
GarageCars       1  0.06854
BsmtFinSF1       1  0.06854
GarageArea       1  0.06854
MSSubClass       0  0.00000

#### Column - KitchenQual
Missing value filling by using **back-fill** method

In [84]:
data_test.KitchenQual.unique()

array(['TA', 'Gd', 'Ex', 'Fa', nan], dtype=object)

In [85]:
data_test.KitchenQual = data_test.KitchenQual.fillna(method='bfill',
                                                    axis=0)
missing_values(data_test, 6)

            Total  Percent
BsmtUnfSF       1  0.06854
BsmtFinSF2      1  0.06854
GarageCars      1  0.06854
BsmtFinSF1      1  0.06854
GarageArea      1  0.06854
MSSubClass      0  0.00000

#### Column - BsmtUnfSF
Missing values filling by using **back-fill** method

In [86]:
data_test.BsmtUnfSF.unique()

array([ 270.,  406.,  137.,  324., 1017.,  763.,  233.,  789.,  663.,
          0.,  354.,  327.,  225.,  341.,  836., 1590., 1544., 1588.,
       1794., 1473., 1093., 1346., 1324., 1129.,   58.,  847., 1629.,
       1595., 1218.,   54.,  831.,  816.,  223.,  261.,  190.,  840.,
        320.,  224.,  290.,  286.,  610.,  491.,  659., 1323.,  143.,
        386.,  534.,  150.,  500.,  533.,  228.,  470.,  482.,  136.,
       1604.,  292.,  125.,  510.,  832.,  525.,  456.,  576.,  161.,
        237.,  415.,  661.,  357.,  827.,  247.,  678.,  930.,  346.,
        455.,  200.,  634.,  577.,  144.,  308.,  316.,  480.,  252.,
        164.,  888.,  780.,  662.,  656.,  689.,  186.,  232.,  120.,
       1128.,   89.,  328.,  660.,  153.,  172.,  564.,  218.,  162.,
       1250.,   86., 1198.,  676.,  140.,  396.,  296., 1040.,  176.,
        381.,  126.,  744.,  960.,  974.,  618.,  894.,  850.,  657.,
         80.,  235., 1115.,  321.,  756.,  221.,  434., 1958., 1258.,
       1214.,  384., 1026., 1430., 1344.,   30.,  370.,  546.,  395.,
         36., 1216.,  166.,  388.,  208.,  318.,  590.,   98.,  158.,
        100.,  243., 1077.,  846.,  195.,  476.,  107., 1181.,  722.,
       1064.,  441.,  304., 1058.,  471.,  540., 1180.,  543.,  138.,
        624.,  229.,   79.,  498.,  466.,  484.,  300.,  220.,  416.,
        379.,  788.,  342., 1736.,  251.,  278.,  724.,  467.,  632.,
       1082., 1598.,  522.,  425.,  474.,  643., 1084., 1451.,  516.,
       1405.,  728.,  745., 1204.,  868.,  130.,  204.,  219.,  111.,
        264.,  282.,  262.,  254.,  549., 1696., 1614.,  408., 1043.,
       1436., 1402., 1530., 1348., 1836.,  222.,  422.,  402., 1087.,
       1158.,  835., 1114., 1450.,  276.,  400., 1332.,  122.,  345.,
         28.,  288.,  182.,  189., 1376., 1726.,  183.,  249.,  142.,
        306., 1619.,  392.,  932.,  588.,  216., 1568.,  160.,  461.,
        265.,  294.,  356.,  640.,  613.,  507.,  141.,  175.,  313.,
        785.,  280.,  565.,  727.,  295., 1866.,  572.,  323.,   93.,
        810.,  792.,  405., 1054., 1313.,  560.,  720.,  630., 1248.,
        996.,  108.,  206.,  559.,  174., 1041.,  901.,  339.,  240.,
        504.,  269.,  600.,  801.,  861.,  677.,  917.,  972.,  741.,
        245., 1022.,  297.,  248.,  679.,  938., 1048.,  672.,  198.,
        483.,  851.,   46.,  585.,  552.,  550.,  825.,  916.,  104.,
        605.,  348.,  616., 1468.,  479.,  380.,  382., 1474.,  704.,
        649.,  513.,  322.,  132.,  335., 1068.,  944.,  462.,  608.,
        615.,  301., 1678.,  604.,   94.,  583.,  112.,  674.,  621.,
         91.,   90.,  561.,  118.,  581.,  760.,  412.,  135., 1527.,
        432.,  526.,  250.,  117.,  912.,  338.,  594.,   75.,  778.,
        898., 1008., 1280.,  332., 1018., 1152.,  547., 1632., 1488.,
        692.,  469.,  273.,  738.,  440., 1444.,  213.,  896.,  684.,
         25.,  275.,  570.,  575.,  430.,  538.,  165.,  908.,  454.,
        404., 1765., 1486., 1347.,  596.,  496., 1318.,  764., 1146.,
        438.,  707.,  167., 1173., 1519., 1242., 1341.,  226.,  794.,
       1339., 1660., 1095., 1162.,  284.,  355.,  439.,  375., 1328.,
       1211.,  210.,  194.,  587.,   72.,  177.,  147.,  584.,  952.,
        599., 1439.,  723., 1625.,  196., 1728.,  242.,  638.,  505.,
        529.,  503.,  437.,  330.,  998., 1824.,  747.,  892.,  168.,
        675.,  444.,  188.,  453.,  936.,  181., 1800.,  398., 1117.,
         96.,  680.,  828.,  931.,  481.,  459.,  407.,  448.,  797.,
        508.,  739.,  784.,  869.,  329.,  849.,  554.,  460.,  949.,
        475.,  992.,  497.,   nan,  449.,  897., 1046.,  796.,  768.,
       1272.,  880.,  647.,  451.,  536.,  197.,  234.,  852.,  326.,
        212.,  925.,  545.,  639.,  298.,  331.,  457.,  628., 1615.,
        598.,  631.,  268.,  110.,  255.,   83.,  782.,  180., 1257.,
        163., 1421., 1508., 1327.,  541.,  725., 1228.,  336.,  884.,
        591.,  397.,  555.,  367.,  520.,  821.,  173.,  592., 1140.,
        910.,  352., 1495.,  403.,  443.,  873.,  393.,   35., 1092.,
        325.,   88.,  271.,  207.,  217.,  686.,  749.,   52.,  277.,
       1168.,  903.,  752.,  918., 1559.,   53.,  815., 1028.,  201.,
         22.,  372., 1012.,  359.,  214., 1337.,  423.,  263., 1694.,
       1108.,  740., 1704.,  636., 1582., 1802., 1706.,  436., 1602.,
       1298.,  272.,  729., 1300.,  698., 1246., 1266.,   56.,  192.,
       1510.,  941.,  736., 1066.,  770., 1369., 1496.,  394., 1528.,
        769.,  716.,  982., 1302., 1314., 1335., 1574., 1685., 1100.,
       1143.,  365., 1461.,   76.,  527., 1081., 1550.,  179.,  319.,
        385., 1594.,  171.,  548.,  431.,  433.,  710., 1560.,  191.,
         63.,  765., 1144.,  410.,  424.,  928.,  156.,  666.,   55.,
        312.,  569.,  967.,  808., 1075.,  667.,  371.,  819.,  809.,
        966.,  750.,  969.,  366.,  771.,  717.,  187.,  635.,   20.,
        420.,  231.,   95.,  109.,  486.,  935.,  411.,  951., 1105.,
       1643., 2140., 1526., 1453., 1270.,  879.,  472.,  646.,  215.,
        845.,  501.,  399.,  102.,  193.,  860.,  683.,  333.,  426.,
       1330.,  115., 1179.,  123., 1085., 1195.,  238.,  971.,  285.,
       1680.,  427., 1262.,  279.,  311.,  957.,  106.,  856.,   17.,
       1689.,  963.,  970.,  593., 1491.,   27.,   48.,  185.,  490.,
        595., 1851.,  113.,  781., 1074., 1640., 2062., 1191.,  889.,
        644., 1390.,  523.,  494.,  945.,   42.,  127.,  363.,  369.,
       1618., 1721., 1090., 1209., 1088., 1251., 1326., 1052.,  767.,
       1126.,  848., 1035.,  253.,  655.,  358.,  742., 1504., 1254.,
        858., 1118., 1400., 1131.,  891.,   78.,  939.,  362.,  450.,
        530.,  713.,  293.,   34.,  360., 1404.,   60., 1584.,  307.,
        556.,   99.,  350.,  517.,  929.,  521., 1153.,  715.,  802.,
       1556.,  236.,  863.,  502.,  817.,  844.,  798., 1226., 1020.,
        641.,  477., 1921.,  830., 1967., 1466.,  872.,   33., 1411.,
       1057.,  532., 1308.,  260., 1558.,  535.,  579.,   57.,  170.,
       1065.,  258.,  131.,  390.,  340., 1150.,  864.,  128.,  818.,
        299.,  637.,  697.,  671.,  487., 1664.,  129.,  378.,  383.,
         45., 1503.])

In [87]:
data_test.BsmtUnfSF = data_test.BsmtUnfSF.fillna(method='bfill',
                                                axis=0)
missing_values(data_test, 5)

            Total  Percent
GarageCars      1  0.06854
BsmtFinSF2      1  0.06854
GarageArea      1  0.06854
BsmtFinSF1      1  0.06854
MSSubClass      0  0.00000

#### Column - GarageCars
Missing values filling by using **back-fill** method

In [88]:
data_test.GarageCars.unique()

array([ 1.,  2.,  3.,  0.,  4.,  5., nan])

In [89]:
data_test.GarageCars = data_test.GarageCars.fillna(method='bfill',
                                                  axis=0)
missing_values(data_test, 4)

            Total  Percent
BsmtFinSF2      1  0.06854
GarageArea      1  0.06854
BsmtFinSF1      1  0.06854
MSSubClass      0  0.00000

#### Column - BsmtFinSF2
Missing values filling by using **back-fill** method

In [90]:
data_test.BsmtFinSF2.unique()

array([ 144.,    0.,   78.,  859.,  981.,   42.,   46.,  162.,  174.,
        350.,  263., 1073.,   12.,  159.,  474.,  453.,  684.,  387.,
        688.,  252.,  590.,  284.,  276.,  168.,  294.,  622.,  113.,
       1526.,  360.,  774.,  364.,  596.,  884.,   92.,  216.,  136.,
        147.,  201.,  512.,  247.,  202.,  483.,  750.,   60.,  102.,
         95.,   63.,  262.,  393.,  286.,  450.,   72.,  243.,  694.,
        875.,  507.,  435.,  419.,  250.,  116.,  624.,   76.,  270.,
        110.,  288.,  186.,  449.,   48.,  613.,  495.,  852.,  555.,
        799.,  811.,  842.,  670.,  382.,  456.,  308.,   52.,  196.,
        128.,  488.,  319.,  273.,   nan,  240.,  956.,  723.,  120.,
        679.,   40.,  121.,  604.,  153.,  619.,    6.,  351., 1037.,
        829.,  264.,   38.,  206.,  167.,  543.,  259.,  404.,  138.,
        955.,  691.,  354.,   66.,  154.,  442.,  448.,  210.,  227.,
        398.,  127.,  722.,  761.,  529.,  522.,  873.,  891.,  755.,
        321.,  915.,  417.,  432.,  465.,  841.,  105.,  831.,  278.,
       1020.,  530.,   80.,  904.,  539.,  620.,  156.,  108.,  492.,
       1393., 1039.,  497.,   68.,  402.,  748.,  281.,  912.,  373.,
        982.,  826.,  850., 1164., 1083.,  400.,  337.,  297.,  344.])

In [91]:
data_test.BsmtFinSF2 = data_test.BsmtFinSF2.fillna(method='bfill',
                                                   axis=0)
missing_values(data_test, 3)

            Total  Percent
GarageArea      1  0.06854
BsmtFinSF1      1  0.06854
MSSubClass      0  0.00000

#### Column - GarageArea
Missing values filling by using **back-fill** method

In [92]:
data_test.GarageArea.unique()

array([ 730.,  312.,  482.,  470.,  506.,  440.,  420.,  393.,  525.,
        511.,  264.,  320.,  308.,  751.,  868.,  678.,  958.,  756.,
        484.,  430.,  437.,  400.,  433.,  962.,  880.,  676.,  528.,
        429.,  461.,  762.,  713.,  588.,  480.,  496.,  852.,  592.,
        596.,  535.,  660.,  441.,  490.,  504.,  517.,    0.,  315.,
        576.,  620.,  263.,  318.,  305.,  280.,  240.,  551.,  780.,
        288.,  624.,  363.,  200.,  572.,  180.,  365.,  231.,  450.,
        416.,  591.,  690.,  522.,  467.,  209.,  366., 1017.,  615.,
        580.,  513.,  850.,  621.,  319.,  336.,  352.,  260.,  399.,
        473.,  598.,  531.,  625.,  330.,  741.,  776.,  520.,  686.,
        253.,  286.,  495.,  616.,  275.,  502.,  632.,  390.,  564.,
        396.,  409.,  567.,  529.,  479.,  581.,  565.,  478.,  477.,
        345.,  656.,  754.,  864.,  896.,  834.,  932.,  640.,  927.,
        700.,  583.,  886.,  871.,  949.,  685.,  649.,  539.,  701.,
        392.,  397.,  436.,  434.,  644.,  394.,  658.,  410.,  810.,
        815.,  647.,  623.,  972.,  726.,  844.,  492.,  795.,  984.,
        692.,  782.,  711.,  628.,  845.,  788.,  559.,  542.,  465.,
        612.,  732.,  300.,  252.,  524.,  704.,  561.,  641.,  642.,
        540.,  527.,  784.,  515.,  498.,  768.,  610.,  549.,  368.,
        550.,  530.,  297.,  304.,  350.,  294.,  230.,  246.,  720.,
        281.,  907.,  364.,  384.,  900.,  483.,  162.,  324.,  472.,
        287.,  357.,  207.,  216.,  250., 1184.,  316.,  379.,  220.,
        226.,  668.,  340.,  266.,  462.,  672.,  820., 1138.,  846.,
        904.,  662.,  577.,  608.,  343.,  444., 1231.,  570.,  521.,
        523.,  544.,  195.,  313.,  256.,  215.,  307.,  463.,  295.,
        452.,  501.,  351.,  541.,  885.,  578.,  486.,  920.,  698.,
        898.,  386.,  404.,  460.,  683.,  670.,  557.,  738.,  489.,
       1314.,  787.,  905.,  650.,  706., 1150., 1003.,  789.,  746.,
        870.,  944.,  474.,  428.,  431.,  403.,  516.,  687.,  938.,
        783.,  851.,  627.,  276.,  636.,  545.,  546.,  469.,  512.,
        464.,  267.,  451.,  292.,  301., 1488.,  372.,  401.,  311.,
        299.,  225.,  828.,  869.,  342.,  370.,  160.,  355.,  164.,
        360.,  228.,  270.,  626.,  912.,  249.,  322.,  614.,  534.,
        453., 1348.,  874.,  811.,  438.,  558.,  600.,  532.,  725.,
        715.,  560.,  721.,  814.,  205.,  369.,  599.,  344.,  786.,
        356.,  487.,  185.,  816.,  432.,  666.,  435.,  892.,  499.,
        257.,  398.,  729., 1110.,  556.,  724.,  663.,  481.,  585.,
        488.,  856., 1040.,  878., 1174.,  728.,  843.,  916.,  818.,
        774.,  554.,  876.,  631.,  454.,  388.,  630.,  442.,  925.,
        806.,  758.,  933.,  605., 1092.,  574.,  859.,  575.,  590.,
        594.,  744.,  566.,  283.,  476.,  466.,  552., 1105.,  412.,
        510.,  792.,  310.,  293.,  371., 1200.,  338.,  184.,  374.,
        468.,  331.,  224.,  217.,  408.,  456.,  323.,  638.,  494.,
        303.,  332.,  894.,  796.,  674.,  619.,  747.,  497.,  242.,
        597.,  748.,  622.,  579., 1154.,  509.,  691.,   nan,  100.,
        471.,  571., 1041.,  963.,  423.,  443.,  773.,  618.,  402.,
        675.,  736.,  722.,  582.,  485.,  543.,  831., 1085.,  899.,
        427.,  617.,  959.,  803.,  760.,  928.,  584.,  449.,  688.,
        888.,  326.,  568.,  273.,  234.,  353.,  684.,  791., 1008.,
        648.,  418.,  378.,  258.,  210.,  586.,  836.,  569.,  848.,
        317.,  646.,  555.,  380.,  265.,  609.,  272.,  518.,  714.,
        682.])

In [93]:
data_test.GarageArea = data_test.GarageArea.fillna(method='bfill',
                                                  axis=0)
missing_values(data_test, 2)

            Total  Percent
BsmtFinSF1      1  0.06854
MSSubClass      0  0.00000

#### Column - BsmtFinSF1
Missing values filling by using **back-fill** method

In [94]:
data_test.BsmtFinSF1.unique()

array([ 468.,  923.,  791.,  602.,  263.,    0.,  935.,  637.,  804.,
       1051.,  156.,  300.,  514.,  110.,   28., 1373.,  578.,   24.,
         16.,  326., 1414.,  126.,  250., 1129., 1298.,  280.,  368.,
        376.,  466.,  244., 1032.,  484.,  833.,  506., 1137.,  687.,
        329.,  698., 1059., 1010., 1500.,  670.,  944., 1188.,  856.,
        936.,  734.,  339.,  648.,  532.,  481.,  588.,  717.,   48.,
        579.,  274.,  780.,  176.,  283.,  788.,  474.,  188.,  452.,
        264.,  360.,  276.,  448.,  960.,  766., 1026.,   73.,  736.,
        704.,  240.,  775., 1319.,  267., 1092.,  964.,  288.,  104.,
        192.,  954., 1346., 1433.,  860.,  870.,  353.,  198.,  480.,
       1682.,  672., 1070.,  528.,  133.,  238.,  426.,  375.,  343.,
        747.,   76.,  308.,  615.,  679.,   78.,   42.,  915.,  294.,
        469.,  207.,  458.,  476., 1341.,  564.,  844.,  847.,  850.,
        284., 1965.,  341.,  741.,  189.,  600.,  400.,  363.,  832.,
        622.,  225., 1333.,  888.,  636.,  500.,  726.,  254.,  306.,
        435.,  389.,  320.,  279.,  536.,  644., 1360.,  986., 1232.,
       2288., 1531., 1230., 1015., 1037., 1142., 1262., 1972.,  836.,
        881.,  876., 2146., 1557.,  800., 1196.,  652.,  494.,  651.,
        241.,  683.,  913., 1173.,  236.,  816.,  624., 1294.,  379.,
       2158.,  682., 1430.,  771.,  410.,   54.,  516.,   52.,   36.,
        331.,   68.,  660.,  864.,  544.,  140., 1733.,  601.,  962.,
        507.,  549., 1252.,  121.,  560.,  553.,  955.,  432.,  403.,
        625.,  310.,  998.,  388.,  568.,  100., 1312., 1387.,  708.,
        172.,  155.,  490.,  700.,  931.,  699.,  390.,  384.,  872.,
        745.,  546.,  621.,  630.,  433.,  120.,  941.,  826.,  633.,
        421.,  220.,  273.,  134.,  522.,  169.,  749., 1200., 1152.,
        527.,  456.,  257.,  342.,  173.,  552.,  460.,   70., 1094.,
        820., 1021., 1104., 1359.,  902.,  755.,  950.,  606., 1259.,
        710., 1234., 1246., 1111., 1478.,  399.,  547.,  332., 1078.,
        626.,  728.,  793.,  246.,  154.,   65.,  312.,  784.,  471.,
        454.,  803., 1476.,  445.,  767.,  841.,   55., 1758., 1115.,
        462.,  904., 1640.,  594.,  720.,  114.,  718.,  330.,  496.,
        706.,  851.,  138.,  450.,  656.,  504.,  319., 1337., 1034.,
        983., 1206.,  890.,  988., 1023.,  252.,  119.,  483.,  350.,
        286.,  378., 1012., 1728., 1375., 1420., 1082., 1249.,   40.,
       2257., 1149., 1075.,  372.,   20., 1204.,  846., 1073., 1087.,
       1660.,  228., 1096.,  729.,  666.,   80.,  362.,  537.,  472.,
        397.,   53.,  764.,  489.,  190.,  520.,  550., 1027., 1004.,
       1141.,  681.,  612.,  813.,  128., 1044.,  828.,  301.,  603.,
        732.,  260.,  583.,  658.,   32.,  531.,  575., 1053.,  958.,
        774.,  148.,  744.,  697.,  315.,  673.,  370.,   96.,  590.,
        116.,  234.,  200.,  406.,  175.,  521.,  201.,   nan,  203.,
        196.,  758.,  221., 1300.,  634.,  776.,  336.,  599., 1035.,
        324.,  779., 1271.,  355., 2085., 1153.,  770.,  262.,  722.,
       1308.,  688.,  663.,  781.,   88., 1194., 1538.,  662., 1593.,
         56.,  609., 1033.,  224.,  281.,  210., 1116.,  366.,  299.,
       1474., 1383.,  893., 1036.,  920., 1029., 1223., 1011., 1571.,
       1309.,  865.,  769.,  318.,  501.,  437.,  785.,  358.,  534.,
        638.,  647.,  838.,  186.,  871.,  414.,  248.,  926., 1101.,
       1047.,  797., 1558.,  256.,  321., 1328.,  903.,  492.,  566.,
         81.,  314.,  930.,  632.,  725., 1151., 1518., 1304., 1812.,
       1684.,  778.,  938.,  669., 1178.,  866., 1030.,  762.,  848.,
       1000.,  918., 1084.,  574., 1181., 1048.,  335., 1225., 1220.,
       1572.,  812.,  727.,  787.,  968.,   60.,  937.,  565.,  417.,
        901.,  457., 1732., 1632.,  973.,  910.,  346.,  819.,  792.,
        617.,  438.,  311.,  654., 1386.,  130.,  144.,  150.,  873.,
        908.,  668.,  512.,  408.,  441.,   85.,  595.,  292.,  242.,
        952.,  739., 1098.,  782.,  122.,  168.,  259.,  316.,  317.,
        351.,  354.,  485.,  925.,  513.,  249.,  748.,  216.,  386.,
        258.,  587.,  491.,  453.,  557., 1080.,  497.,  608.,   51.,
        539.,  420.,  502.,  671.,  385., 1412., 1198.,  709.,  132.,
        611., 4010.,  467.,   77.,  371.,  113.,  533.,  540.,  577.,
        434.,  548.,  967.,  737., 1573., 1001.,  585., 1392., 1239.,
        924.,  949.,  215., 1329.,  503., 1148., 1112.,  796.,  811.,
       1090.,  596.,  773., 1127., 1110.,  705., 1218.,  205., 1191.,
       1416., 1005.,  951.,  402.,  282.,  382.,  373., 1369., 1505.,
       1290.,  880.,  994.,  415., 1038.,  505., 1182.,  380.,  247.,
       1562., 1836.,  278.,  554.,  162.,  181.,  712.,  659., 1118.,
        361.,  760.,  799.,  996.,  486.,  939.,  623.,  678.,  914.,
        824.,  271.,  488., 1018.,  338.,  580.,  701.,  455.,  809.,
        953.,  381.,  208.,  143.,  576.,  416.,  347.,  510.,  194.,
        794.,  810.,  535.,  230.,  425.,  261.,  393., 1576., 1122.,
        853.,  894.,  509.,  639.,  685.,  976.,  475.,  691.,  424.,
        305.,  646.,  526.,  374., 1564.,  909., 1136., 1350., 1455.,
       1243.,  149., 1224.,  337.])

In [95]:
data_test.BsmtFinSF1 = data_test.BsmtFinSF1.fillna(method='bfill',
                                                  axis=0)
missing_values(data_test, 2)

            Total  Percent
MSSubClass      0      0.0
HeatingQC       0      0.0

**Find the Score of DataSet**

In [96]:
# function
def score_dataset(x, y, model=XGBRegressor()):
    # label encoding for categoricals
    for colname in x.select_dtypes(['object', 'category']):
        x[colname], _ = x[colname].factorize()
        # RMSLE (Root Mean Squared Log Error)
    score = cross_val_score(model, x, y,
                               cv=5,
                               scoring='neg_mean_squared_log_error')
    score = -1 * score.mean()
    score = np.sqrt(score)
    return score

##### Find Score of DataSet after Data Cleaning

In [97]:
# assigning variables
x = data.copy()
y = x.pop('SalePrice')

In [98]:
# score
score_dataset(x, y)

0.14464331538070868