In [2]:
# data cleaning
import numpy as np
import pandas as pd

# feature engineering
from sklearn.feature_selection import mutual_info_regression
from sklearn.cluster import KMeans

# model
from xgboost import XGBRegressor

# error score
from sklearn.model_selection import cross_val_score

# data visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# load data
data = pd.read_csv(r'train.csv', index_col='Id')
data_test = pd.read_csv(r'test.csv', index_col='Id')

In [4]:
data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
data_test.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

### Missing Values - Train Data

In [6]:
# missing data
total_missing = data.isnull().sum().sort_values(ascending=False)
percent_missing = (data.isnull().sum() / data.isnull().count())*100
missing_data = pd.concat([total_missing, percent_missing], axis=1,
                         keys=['Total', 'Percent'])
missing_data.head(20)

              Total    Percent
PoolQC         1453  99.520548
MiscFeature    1406  96.301370
Alley          1369  93.767123
Fence          1179  80.753425
FireplaceQu     690  47.260274
LotFrontage     259  17.739726
GarageYrBlt      81   5.547945
GarageCond       81   5.547945
GarageType       81   5.547945
GarageFinish     81   5.547945
GarageQual       81   5.547945
BsmtExposure     38   2.602740
BsmtFinType2     38   2.602740
BsmtCond         37   2.534247
BsmtQual         37   2.534247
BsmtFinType1     37   2.534247
MasVnrArea        8   0.547945
MasVnrType        8   0.547945
Electrical        1   0.068493
MSSubClass        0   0.000000

#### Droping data columns with 15% missing value

In [7]:
data = data.drop(['PoolQC', 'MiscFeature', 'Alley', 
                  'Fence', 'FireplaceQu', 'LotFrontage'], 
                 axis=1)
data.shape

(1460, 74)

We going to write a function To find missing values in each columns

In [8]:
# missing values - function
def missing_values(data, n):
    total_missing = data.isnull().sum().sort_values(ascending=False)
    percent_missing = (data.isnull().sum() / data.isnull().count())*100
    missing_data = pd.concat([total_missing, percent_missing], axis=1,
                            keys=['Total', 'Percent'])
    return missing_data.head(n)

In [9]:
# missing data
missing_values(data, 14)

              Total   Percent
GarageType       81  5.547945
GarageYrBlt      81  5.547945
GarageFinish     81  5.547945
GarageQual       81  5.547945
GarageCond       81  5.547945
BsmtFinType2     38  2.602740
BsmtExposure     38  2.602740
BsmtQual         37  2.534247
BsmtCond         37  2.534247
BsmtFinType1     37  2.534247
MasVnrArea        8  0.547945
MasVnrType        8  0.547945
Electrical        1  0.068493
KitchenAbvGr      0  0.000000

#### Column - GarageType
NA - No Garage

so we can replace NA with No Garage

In [10]:
data.GarageType.unique()

array(['Attchd', 'Detchd', 'BuiltIn', 'CarPort', nan, 'Basment', '2Types'],
      dtype=object)

In [11]:
data.GarageType = data.GarageType.fillna('No Garage')
missing_values(data, 13)

              Total   Percent
GarageYrBlt      81  5.547945
GarageFinish     81  5.547945
GarageQual       81  5.547945
GarageCond       81  5.547945
BsmtExposure     38  2.602740
BsmtFinType2     38  2.602740
BsmtFinType1     37  2.534247
BsmtQual         37  2.534247
BsmtCond         37  2.534247
MasVnrArea        8  0.547945
MasVnrType        8  0.547945
Electrical        1  0.068493
KitchenAbvGr      0  0.000000

#### Column - GarageYrBlt

In [12]:
data.GarageYrBlt.unique()

array([2003., 1976., 2001., 1998., 2000., 1993., 2004., 1973., 1931.,
       1939., 1965., 2005., 1962., 2006., 1960., 1991., 1970., 1967.,
       1958., 1930., 2002., 1968., 2007., 2008., 1957., 1920., 1966.,
       1959., 1995., 1954., 1953.,   nan, 1983., 1977., 1997., 1985.,
       1963., 1981., 1964., 1999., 1935., 1990., 1945., 1987., 1989.,
       1915., 1956., 1948., 1974., 2009., 1950., 1961., 1921., 1900.,
       1979., 1951., 1969., 1936., 1975., 1971., 1923., 1984., 1926.,
       1955., 1986., 1988., 1916., 1932., 1972., 1918., 1980., 1924.,
       1996., 1940., 1949., 1994., 1910., 1978., 1982., 1992., 1925.,
       1941., 2010., 1927., 1947., 1937., 1942., 1938., 1952., 1928.,
       1922., 1934., 1906., 1914., 1946., 1908., 1929., 1933.])

In [13]:
# finding index of missing values
idx = data[data['GarageYrBlt'].isnull()].index.tolist()
data.iloc[idx].head(6)

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
41,20,RL,8658,Pave,Reg,Lvl,AllPub,Inside,Gtl,NAmes,...,0,0,0,0,0,12,2006,WD,Abnorml,160000
50,20,RL,7742,Pave,Reg,Lvl,AllPub,Inside,Gtl,Sawyer,...,0,0,0,0,0,1,2007,WD,Normal,127000
80,50,RM,10440,Pave,Reg,Lvl,AllPub,Corner,Gtl,OldTown,...,128,0,0,0,0,5,2009,WD,Normal,110000
90,20,RL,8070,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,8,2007,WD,Normal,123600
91,20,RL,7200,Pave,Reg,Lvl,AllPub,Inside,Gtl,NAmes,...,0,0,0,0,0,7,2006,WD,Normal,109900
101,20,RL,10603,Pave,IR1,Lvl,AllPub,Inside,Gtl,NWAmes,...,0,0,0,0,0,2,2010,WD,Normal,205000

Filling missing values in GarageYrBlt column

In [14]:
data.GarageYrBlt = data.GarageYrBlt.fillna(method='bfill',
                                           axis=0)
missing_values(data, 12)

              Total   Percent
GarageFinish     81  5.547945
GarageQual       81  5.547945
GarageCond       81  5.547945
BsmtFinType2     38  2.602740
BsmtExposure     38  2.602740
BsmtFinType1     37  2.534247
BsmtQual         37  2.534247
BsmtCond         37  2.534247
MasVnrType        8  0.547945
MasVnrArea        8  0.547945
Electrical        1  0.068493
KitchenAbvGr      0  0.000000

#### Column - GarageFinish
NA - No Garage

so we can replace NA with No Garage

In [15]:
data.GarageFinish.unique()

array(['RFn', 'Unf', 'Fin', nan], dtype=object)

In [16]:
data.GarageFinish = data.GarageFinish.fillna('No Garage')
missing_values(data, 11)

              Total   Percent
GarageQual       81  5.547945
GarageCond       81  5.547945
BsmtFinType2     38  2.602740
BsmtExposure     38  2.602740
BsmtCond         37  2.534247
BsmtQual         37  2.534247
BsmtFinType1     37  2.534247
MasVnrArea        8  0.547945
MasVnrType        8  0.547945
Electrical        1  0.068493
Functional        0  0.000000

#### Column - GarageQual
NA - No Garage

so we can replace NA with No Garage

In [17]:
data.GarageQual.unique()

array(['TA', 'Fa', 'Gd', nan, 'Ex', 'Po'], dtype=object)

In [18]:
data.GarageQual = data.GarageQual.fillna('No Garage')
missing_values(data, 10)

              Total   Percent
GarageCond       81  5.547945
BsmtExposure     38  2.602740
BsmtFinType2     38  2.602740
BsmtQual         37  2.534247
BsmtCond         37  2.534247
BsmtFinType1     37  2.534247
MasVnrType        8  0.547945
MasVnrArea        8  0.547945
Electrical        1  0.068493
Functional        0  0.000000

#### Column - GarageCond
NA - No Garage

so we can replace NA with No Garage

In [19]:
data.GarageCond = data.GarageCond.fillna('No Garage')
missing_values(data, 9)

              Total   Percent
BsmtFinType2     38  2.602740
BsmtExposure     38  2.602740
BsmtFinType1     37  2.534247
BsmtQual         37  2.534247
BsmtCond         37  2.534247
MasVnrType        8  0.547945
MasVnrArea        8  0.547945
Electrical        1  0.068493
Functional        0  0.000000

#### Column - BsmtFinType2
NA - No Basement

so we can replace NA with No Basement

In [20]:
data.BsmtFinType2.unique()

array(['Unf', 'BLQ', nan, 'ALQ', 'Rec', 'LwQ', 'GLQ'], dtype=object)

In [21]:
data.BsmtFinType2 = data.BsmtFinType2.fillna('No Basement')
missing_values(data, 8)

              Total   Percent
BsmtExposure     38  2.602740
BsmtFinType1     37  2.534247
BsmtQual         37  2.534247
BsmtCond         37  2.534247
MasVnrType        8  0.547945
MasVnrArea        8  0.547945
Electrical        1  0.068493
HalfBath          0  0.000000

#### Column - BsmtExposure
NA - No Basement

so we can replace NA with No Basement

In [22]:
data.BsmtExposure.unique()

array(['No', 'Gd', 'Mn', 'Av', nan], dtype=object)

In [23]:
data.BsmtExposure = data.BsmtExposure.fillna('No Basement')
missing_values(data, 7)

              Total   Percent
BsmtFinType1     37  2.534247
BsmtCond         37  2.534247
BsmtQual         37  2.534247
MasVnrType        8  0.547945
MasVnrArea        8  0.547945
Electrical        1  0.068493
BsmtHalfBath      0  0.000000

#### Column - BsmtFinType1
NA - No Basement

so we can replace NA with No Basement

In [24]:
data.BsmtFinType1.unique()

array(['GLQ', 'ALQ', 'Unf', 'Rec', 'BLQ', nan, 'LwQ'], dtype=object)

In [25]:
data.BsmtFinType1 = data.BsmtFinType1.fillna('No Basement')
missing_values(data, 6)

            Total   Percent
BsmtQual       37  2.534247
BsmtCond       37  2.534247
MasVnrType      8  0.547945
MasVnrArea      8  0.547945
Electrical      1  0.068493
GarageType      0  0.000000

#### Column - BsmtQual
NA - No Basement

so we can replace NA with No Basement

In [26]:
data.BsmtQual.unique()

array(['Gd', 'TA', 'Ex', nan, 'Fa'], dtype=object)

In [27]:
data.BsmtQual = data.BsmtQual.fillna('No Basement')
missing_values(data, 5)

            Total   Percent
BsmtCond       37  2.534247
MasVnrType      8  0.547945
MasVnrArea      8  0.547945
Electrical      1  0.068493
MSSubClass      0  0.000000

#### Column - BsmtCond
NA - No Basement

So we can replace NA with No Basement

In [29]:
data.BsmtCond.unique()

array(['TA', 'Gd', nan, 'Fa', 'Po'], dtype=object)

In [30]:
data.BsmtCond = data.BsmtCond.fillna('No Basement')
missing_values(data, 4)

              Total   Percent
MasVnrType        8  0.547945
MasVnrArea        8  0.547945
Electrical        1  0.068493
BedroomAbvGr      0  0.000000

#### Column - MasVnrType
Cinder Block **NOT** found in the data set

So  we assuming that missing values are Cinder Blockes

In [31]:
data.MasVnrType.unique()

array(['BrkFace', 'None', 'Stone', 'BrkCmn', nan], dtype=object)

In [32]:
data.MasVnrType = data.MasVnrType.fillna('CBlock')
missing_values(data, 3)

             Total   Percent
MasVnrArea       8  0.547945
Electrical       1  0.068493
GarageYrBlt      0  0.000000

#### Column - MasVnrArea
missing values filling by using **back-fill** method

In [33]:
data.MasVnrArea.unique()

array([1.960e+02, 0.000e+00, 1.620e+02, 3.500e+02, 1.860e+02, 2.400e+02,
       2.860e+02, 3.060e+02, 2.120e+02, 1.800e+02, 3.800e+02, 2.810e+02,
       6.400e+02, 2.000e+02, 2.460e+02, 1.320e+02, 6.500e+02, 1.010e+02,
       4.120e+02, 2.720e+02, 4.560e+02, 1.031e+03, 1.780e+02, 5.730e+02,
       3.440e+02, 2.870e+02, 1.670e+02, 1.115e+03, 4.000e+01, 1.040e+02,
       5.760e+02, 4.430e+02, 4.680e+02, 6.600e+01, 2.200e+01, 2.840e+02,
       7.600e+01, 2.030e+02, 6.800e+01, 1.830e+02, 4.800e+01, 2.800e+01,
       3.360e+02, 6.000e+02, 7.680e+02, 4.800e+02, 2.200e+02, 1.840e+02,
       1.129e+03, 1.160e+02, 1.350e+02, 2.660e+02, 8.500e+01, 3.090e+02,
       1.360e+02, 2.880e+02, 7.000e+01, 3.200e+02, 5.000e+01, 1.200e+02,
       4.360e+02, 2.520e+02, 8.400e+01, 6.640e+02, 2.260e+02, 3.000e+02,
       6.530e+02, 1.120e+02, 4.910e+02, 2.680e+02, 7.480e+02, 9.800e+01,
       2.750e+02, 1.380e+02, 2.050e+02, 2.620e+02, 1.280e+02, 2.600e+02,
       1.530e+02, 6.400e+01, 3.120e+02, 1.600e+01, 9.220e+02, 1.420e+02,
       2.900e+02, 1.270e+02, 5.060e+02, 2.970e+02,       nan, 6.040e+02,
       2.540e+02, 3.600e+01, 1.020e+02, 4.720e+02, 4.810e+02, 1.080e+02,
       3.020e+02, 1.720e+02, 3.990e+02, 2.700e+02, 4.600e+01, 2.100e+02,
       1.740e+02, 3.480e+02, 3.150e+02, 2.990e+02, 3.400e+02, 1.660e+02,
       7.200e+01, 3.100e+01, 3.400e+01, 2.380e+02, 1.600e+03, 3.650e+02,
       5.600e+01, 1.500e+02, 2.780e+02, 2.560e+02, 2.250e+02, 3.700e+02,
       3.880e+02, 1.750e+02, 2.960e+02, 1.460e+02, 1.130e+02, 1.760e+02,
       6.160e+02, 3.000e+01, 1.060e+02, 8.700e+02, 3.620e+02, 5.300e+02,
       5.000e+02, 5.100e+02, 2.470e+02, 3.050e+02, 2.550e+02, 1.250e+02,
       1.000e+02, 4.320e+02, 1.260e+02, 4.730e+02, 7.400e+01, 1.450e+02,
       2.320e+02, 3.760e+02, 4.200e+01, 1.610e+02, 1.100e+02, 1.800e+01,
       2.240e+02, 2.480e+02, 8.000e+01, 3.040e+02, 2.150e+02, 7.720e+02,
       4.350e+02, 3.780e+02, 5.620e+02, 1.680e+02, 8.900e+01, 2.850e+02,
       3.600e+02, 9.400e+01, 3.330e+02, 9.210e+02, 7.620e+02, 5.940e+02,
       2.190e+02, 1.880e+02, 4.790e+02, 5.840e+02, 1.820e+02, 2.500e+02,
       2.920e+02, 2.450e+02, 2.070e+02, 8.200e+01, 9.700e+01, 3.350e+02,
       2.080e+02, 4.200e+02, 1.700e+02, 4.590e+02, 2.800e+02, 9.900e+01,
       1.920e+02, 2.040e+02, 2.330e+02, 1.560e+02, 4.520e+02, 5.130e+02,
       2.610e+02, 1.640e+02, 2.590e+02, 2.090e+02, 2.630e+02, 2.160e+02,
       3.510e+02, 6.600e+02, 3.810e+02, 5.400e+01, 5.280e+02, 2.580e+02,
       4.640e+02, 5.700e+01, 1.470e+02, 1.170e+03, 2.930e+02, 6.300e+02,
       4.660e+02, 1.090e+02, 4.100e+01, 1.600e+02, 2.890e+02, 6.510e+02,
       1.690e+02, 9.500e+01, 4.420e+02, 2.020e+02, 3.380e+02, 8.940e+02,
       3.280e+02, 6.730e+02, 6.030e+02, 1.000e+00, 3.750e+02, 9.000e+01,
       3.800e+01, 1.570e+02, 1.100e+01, 1.400e+02, 1.300e+02, 1.480e+02,
       8.600e+02, 4.240e+02, 1.047e+03, 2.430e+02, 8.160e+02, 3.870e+02,
       2.230e+02, 1.580e+02, 1.370e+02, 1.150e+02, 1.890e+02, 2.740e+02,
       1.170e+02, 6.000e+01, 1.220e+02, 9.200e+01, 4.150e+02, 7.600e+02,
       2.700e+01, 7.500e+01, 3.610e+02, 1.050e+02, 3.420e+02, 2.980e+02,
       5.410e+02, 2.360e+02, 1.440e+02, 4.230e+02, 4.400e+01, 1.510e+02,
       9.750e+02, 4.500e+02, 2.300e+02, 5.710e+02, 2.400e+01, 5.300e+01,
       2.060e+02, 1.400e+01, 3.240e+02, 2.950e+02, 3.960e+02, 6.700e+01,
       1.540e+02, 4.250e+02, 4.500e+01, 1.378e+03, 3.370e+02, 1.490e+02,
       1.430e+02, 5.100e+01, 1.710e+02, 2.340e+02, 6.300e+01, 7.660e+02,
       3.200e+01, 8.100e+01, 1.630e+02, 5.540e+02, 2.180e+02, 6.320e+02,
       1.140e+02, 5.670e+02, 3.590e+02, 4.510e+02, 6.210e+02, 7.880e+02,
       8.600e+01, 7.960e+02, 3.910e+02, 2.280e+02, 8.800e+01, 1.650e+02,
       4.280e+02, 4.100e+02, 5.640e+02, 3.680e+02, 3.180e+02, 5.790e+02,
       6.500e+01, 7.050e+02, 4.080e+02, 2.440e+02, 1.230e+02, 3.660e+02,
       7.310e+02, 4.480e+02, 2.940e+02, 3.100e+02, 2.370e+02, 4.260e+02,
       9.600e+01, 4.380e+02, 1.940e+02, 1.190e+02])

In [34]:
data.MasVnrArea = data.MasVnrArea.fillna(method='bfill',
                                         axis=0)
missing_values(data, 2)

            Total   Percent
Electrical      1  0.068493
MSSubClass      0  0.000000

#### Column - Electrical
Missing value filling by using **back-fill** method

In [35]:
data.Electrical.unique()

array(['SBrkr', 'FuseF', 'FuseA', 'FuseP', 'Mix', nan], dtype=object)

In [36]:
data.Electrical = data.Electrical.fillna(method='bfill',
                                        axis=0)
missing_values(data, 2)

             Total  Percent
MSSubClass       0      0.0
GarageYrBlt      0      0.0

### Missing Values - Test Data

In [37]:
missing_values(data_test, 34)

              Total    Percent
PoolQC         1456  99.794380
MiscFeature    1408  96.504455
Alley          1352  92.666210
Fence          1169  80.123372
FireplaceQu     730  50.034270
LotFrontage     227  15.558602
GarageYrBlt      78   5.346127
GarageFinish     78   5.346127
GarageQual       78   5.346127
GarageCond       78   5.346127
GarageType       76   5.209047
BsmtCond         45   3.084304
BsmtExposure     44   3.015764
BsmtQual         44   3.015764
BsmtFinType2     42   2.878684
BsmtFinType1     42   2.878684
MasVnrType       16   1.096642
MasVnrArea       15   1.028101
MSZoning          4   0.274160
Functional        2   0.137080
BsmtHalfBath      2   0.137080
BsmtFullBath      2   0.137080
Utilities         2   0.137080
KitchenQual       1   0.068540
SaleType          1   0.068540
BsmtFinSF1        1   0.068540
GarageCars        1   0.068540
BsmtUnfSF         1   0.068540
TotalBsmtSF       1   0.068540
Exterior2nd       1   0.068540
Exterior1st       1   0.068540
GarageArea        1   0.068540
BsmtFinSF2        1   0.068540
TotRmsAbvGrd      0   0.000000

##### Droping columns with >15% missing values

In [38]:
data_test = data_test.drop(['PoolQC', 'MiscFeature', 'Alley', 
                  'Fence', 'FireplaceQu', 'LotFrontage'], 
                 axis=1)
data.shape

(1460, 74)

In [39]:
# missing data
missing_values(data_test, 28)

              Total   Percent
GarageQual       78  5.346127
GarageYrBlt      78  5.346127
GarageFinish     78  5.346127
GarageCond       78  5.346127
GarageType       76  5.209047
BsmtCond         45  3.084304
BsmtExposure     44  3.015764
BsmtQual         44  3.015764
BsmtFinType2     42  2.878684
BsmtFinType1     42  2.878684
MasVnrType       16  1.096642
MasVnrArea       15  1.028101
MSZoning          4  0.274160
Functional        2  0.137080
BsmtFullBath      2  0.137080
BsmtHalfBath      2  0.137080
Utilities         2  0.137080
GarageArea        1  0.068540
BsmtFinSF2        1  0.068540
Exterior1st       1  0.068540
Exterior2nd       1  0.068540
KitchenQual       1  0.068540
SaleType          1  0.068540
TotalBsmtSF       1  0.068540
BsmtUnfSF         1  0.068540
GarageCars        1  0.068540
BsmtFinSF1        1  0.068540
FullBath          0  0.000000

#### Column - GarageQual
NA - No Garage

So we can replace NA with No Garage

In [40]:
data_test.GarageQual.unique()

array(['TA', nan, 'Fa', 'Gd', 'Po'], dtype=object)

In [41]:
data_test.GarageQual = data_test.GarageQual.fillna('No Garage')
missing_values(data_test, 27)

              Total   Percent
GarageCond       78  5.346127
GarageYrBlt      78  5.346127
GarageFinish     78  5.346127
GarageType       76  5.209047
BsmtCond         45  3.084304
BsmtExposure     44  3.015764
BsmtQual         44  3.015764
BsmtFinType2     42  2.878684
BsmtFinType1     42  2.878684
MasVnrType       16  1.096642
MasVnrArea       15  1.028101
MSZoning          4  0.274160
Functional        2  0.137080
BsmtFullBath      2  0.137080
BsmtHalfBath      2  0.137080
Utilities         2  0.137080
BsmtFinSF1        1  0.068540
SaleType          1  0.068540
GarageCars        1  0.068540
BsmtUnfSF         1  0.068540
GarageArea        1  0.068540
Exterior1st       1  0.068540
Exterior2nd       1  0.068540
BsmtFinSF2        1  0.068540
KitchenQual       1  0.068540
TotalBsmtSF       1  0.068540
GarageQual        0  0.000000

#### Column - GarageCond
NA - No Garage

So we can replace NA with No Garage

In [42]:
data_test.GarageCond.unique()

array(['TA', nan, 'Fa', 'Gd', 'Po', 'Ex'], dtype=object)

In [43]:
data_test.GarageCond = data_test.GarageCond.fillna('No Garage')
missing_values(data_test, 26)

              Total   Percent
GarageFinish     78  5.346127
GarageYrBlt      78  5.346127
GarageType       76  5.209047
BsmtCond         45  3.084304
BsmtExposure     44  3.015764
BsmtQual         44  3.015764
BsmtFinType2     42  2.878684
BsmtFinType1     42  2.878684
MasVnrType       16  1.096642
MasVnrArea       15  1.028101
MSZoning          4  0.274160
Functional        2  0.137080
BsmtFullBath      2  0.137080
BsmtHalfBath      2  0.137080
Utilities         2  0.137080
BsmtFinSF1        1  0.068540
SaleType          1  0.068540
GarageArea        1  0.068540
GarageCars        1  0.068540
BsmtFinSF2        1  0.068540
BsmtUnfSF         1  0.068540
Exterior1st       1  0.068540
Exterior2nd       1  0.068540
TotalBsmtSF       1  0.068540
KitchenQual       1  0.068540
GarageCond        0  0.000000

#### Column - GarageFinish
NA - No Garage

So we can replace NA with No Garage

In [44]:
data_test.GarageFinish.unique()

array(['Unf', 'Fin', 'RFn', nan], dtype=object)

In [45]:
data_test.GarageFinish = data_test.GarageFinish.fillna('No Garage')
missing_values(data_test, 25)

              Total   Percent
GarageYrBlt      78  5.346127
GarageType       76  5.209047
BsmtCond         45  3.084304
BsmtExposure     44  3.015764
BsmtQual         44  3.015764
BsmtFinType2     42  2.878684
BsmtFinType1     42  2.878684
MasVnrType       16  1.096642
MasVnrArea       15  1.028101
MSZoning          4  0.274160
Functional        2  0.137080
BsmtFullBath      2  0.137080
BsmtHalfBath      2  0.137080
Utilities         2  0.137080
BsmtFinSF1        1  0.068540
BsmtFinSF2        1  0.068540
BsmtUnfSF         1  0.068540
TotalBsmtSF       1  0.068540
SaleType          1  0.068540
KitchenQual       1  0.068540
Exterior2nd       1  0.068540
Exterior1st       1  0.068540
GarageCars        1  0.068540
GarageArea        1  0.068540
KitchenAbvGr      0  0.000000

#### Column - GarageYrBlt
Replace missing values by **back-fill** method

In [46]:
data_test.GarageYrBlt.unique()

array([1961., 1958., 1997., 1998., 1992., 1993., 1990., 1970., 1999.,
       1971., 1975., 2009., 2005., 2003., 2002., 2006., 2004., 1920.,
       1974., 2000., 2010., 1967., 1978., 1966., 1964.,   nan, 1994.,
       1949., 1959., 1956., 1952., 1955., 1989., 1950., 1960., 1963.,
       1900., 1957., 1938., 1948., 1962., 1928., 1930., 1926., 1939.,
       1973., 1942., 1979., 1923., 1915., 1917., 1940., 1910., 1969.,
       1968., 1977., 1945., 1987., 1947., 1954., 1941., 1951., 1896.,
       1976., 2008., 2007., 1965., 2001., 1972., 1984., 1985., 1996.,
       1995., 1980., 1986., 1981., 1982., 1991., 1988., 1953., 1924.,
       1927., 1946., 1934., 1983., 1916., 1918., 1937., 1932., 1935.,
       1925., 1921., 1895., 1922., 2207., 1936., 1943., 1919.])